@model IList<Site.Core.DataModel.Model.UserModel>
@{
    ViewBag.Title = "Danh Sách Người Dùng";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <!--Alert-->
        @if (TempData["Message"] != null)
        {
            Site.Core.DataModel.Response.BaseResponse responseMsg = (Site.Core.DataModel.Response.BaseResponse)TempData["Message"];
            <br />
            <div class="alert @(responseMsg.ErrorCode == (int)Site.Core.DataModel.Enum.ErrorCode.None ? " alert-info" : " alert-danger")"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @responseMsg.Message</div>
        }
        
        <div class="box box-color box-bordered">
            <br />
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Người Dùng
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="select,text,text,text,text,text,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th>Loại tham dự</th>
                            <th>Tên đầy đủ</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Ngày sinh</th>
                            <th>Trạng Thái</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id="@Model[i].UserID">
                                <td>@Model[i].ParticipantType</td>
                                <td>@Model[i].FullName</td>
                                <td>@Model[i].Sex</td>
                                <td>@Model[i].Email</td>
                                <td>@(Model[i].DateOfBirth.HasValue ? Model[i].DateOfBirth.Value.ToShortDateString() : string.Empty)</td>
                                <td id="status_@Model[i].UserID">@(Model[i].Locked ? "Đã Khóa" : "Đã Kích Hoạt")</td>
                                <td class='hidden-480'>
                                    <a href='@Url.Action("ViewUser", "AdminUser", new { userId = Model[i].UserID })' class="btn" rel="tooltip" title="Sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick="return lockUser('@Model[i].UserID', this)" class="btn" rel="tooltip" title="@(Model[i].Locked ? "Mở khóa" : "Khóa")">
                                        <i id="lock_@Model[i].UserID" class="fa @(Model[i].Locked ? "fa-unlock" : "fa-lock")"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="btn" rel="tooltip" title="Xóa" onclick="return deleteUser('@Model[i].UserID')" id="btn_@Model[i].UserID">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteUser(userID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.blockUI({ message: $('#spinner') });
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteUser", "AdminUser")',
                    data: { userID: userID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            var $el = $("#btn_" + userID);
                            var $parent = $el.parents("tr");
                            $parent.fadeOut(400, function () {
                                $parent.remove();
                            });
                            bootbox.hideAll();
                        } else {
                            bootbox.alert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                        $.unblockUI();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                        $.unblockUI();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

    function lockUser(userID, sender) {
        bootbox.confirm("Bạn có chắc chắn muốn thực hiện khóa/mở khóa người dùng này?", function (result) {
            if (result) {
                $.blockUI({ message: $('#spinner') });
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("LockUser", "AdminUser")',
                    data: { userID: userID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            if (data.Locked) {
                                bootbox.alert("Đã khóa người dùng!", function () {
                                    bootbox.hideAll();
                                });
                                $("#status_" + userID).html("Đã Khóa");
                                if ($("#lock_" + userID).hasClass("fa-lock")) {
                                    $("#lock_" + userID).removeClass("fa-lock");
                                }
                                $("#lock_" + userID).addClass("fa-unlock");
                                $(sender).attr("title", "Mở khóa");
                            } else {
                                bootbox.alert("Mở khóa thành công!", function () {
                                    bootbox.hideAll();
                                });
                                $("#status_" + userID).html("Đã Kích Hoạt");
                                if ($("#lock_" + userID).hasClass("fa-unlock")) {
                                    $("#lock_" + userID).removeClass("fa-unlock");
                                }
                                $("#lock_" + userID).addClass("fa-lock");
                                $(sender).attr("title", "Khóa");
                            }
                        } else {
                            bootbox.alert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                        $.unblockUI();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                        $.unblockUI();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>