@model Site.Core.DataModel.Model.UserModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Color CSS -->
<link rel="stylesheet" href="~/Areas/Administrator/css/themes.css">
<link rel="stylesheet" href="~/Content/form.css">
<!-- jQuery UI -->
<script src="~/Areas/Administrator/js/plugins/jquery-ui/jquery-ui.js"></script>
<!-- Form -->
<script src="~/Areas/Administrator/js/plugins/form/jquery.form.min.js"></script>
<!-- Bootbox -->
<script src="~/Areas/Administrator/js/plugins/bootbox/jquery.bootbox.js"></script>
<script src="~/Areas/Administrator/js/plugins/validation/jquery.validate.min.js"></script>
<script src="~/Areas/Administrator/js/plugins/validation/additional-methods.min.js"></script>

<div class="col-sm-9 page-content">
    <div class="box box-bordered box-color">
        <div class="box-title">
            <h3>
                <i class="fa fa-edit"></i>User Login
            </h3>
        </div>
        <div class="box-content nopadding">
            @using (Html.BeginForm("UserLogin", "User", FormMethod.Post, new { @id="frmUserLogin", @class="form-horizontal form-bordered form-validate" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="textfield" class="control-label col-sm-2">User Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="UserName" id="UserName" class="form-control" data-rule-required="true" data-rule-minlength="6">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textfield" class="control-label col-sm-2">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password">
                    </div>
                </div>
                <div class="forget">
                    <a href='@Url.Action("ForgetPassword", "User")'>
                        <span>Forgot password?</span>
                    </a>
                    <a href='@Url.Action("Register", "User")'>
                        <span>Register</span>
                    </a>
                </div>
                <div class="form-actions col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href='/' class="btn btn-info">Cancel</a>
                </div>
                if (ViewBag.Response != null)
                {
                    Site.Core.DataModel.Response.UserLoginResponse responseMsg = (Site.Core.DataModel.Response.UserLoginResponse)ViewBag.Response;
                    <br /><br /><br />
                    <div class="alert @(responseMsg.ErrorCode == (int)Site.Core.DataModel.Enum.ErrorCode.None ? " alert-info" : " alert-danger")"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @responseMsg.Message</div>
                }
            }
        </div>
    </div>
</div>