@using apcrshr_site.Resources
@using apcrshr_site.Helper
@model apcrshr_site.Models.RegistrationModel
@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Bootstrap -->
<link rel="stylesheet" href="~/Areas/Administrator/css/boostrap-editable.css">
<link href="~/Scripts/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.datetimepicker.full.js"></script>

<div class="col-sm-9 page-content">
    
    <div class="row">

        <h4 class="classic-title"><span>@string.Format(Resource.title_loginProfile, Model.UserName)</span></h4>

        <!-- Accordion -->
        <div class="panel-group" id="accordion">

            <!-- Start Accordion 1 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-4">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-user-4"></i> Personal Information
                        </a>
                    </h4>
                </div>
                <div id="collapse-4" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <!-- Start Contact Form -->
                        @using (Ajax.BeginForm("SaveUserInfomation", "User", new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",
                                                OnFailure = "userUpdateFailure",
                                                OnSuccess = "userUpdateSuccess"
                                            }, new { @class = "form-horizontal form-bordered form-validate", id = "frmSaveUser" }))
                        {
                            @Html.HiddenFor(model => model.UserID, new { @id = "UserID" })
                            @Html.HiddenFor(model => model.MailingAddressID, new { @id = "MailingAddressID" })
                            @Html.HiddenFor(model => model.Locked, new { @id = "Locked" })
                            @Html.HiddenFor(model => model.UserName, new { @id = "UserName" })
                            <table id="user" class="table table-bordered table-striped table-force-topborder" style="clear: both">
                                <tbody>
                                    <tr>
                                        <td width="25%">Title <span class="validation-span-required">(*)</span></td>
                                        <td width="75%">
                                            <a href="#" id="Title" data-type="select" data-pk="1" data-value="@Model.Title" data-source="/title" data-original-title="Select Title">@Model.Title</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Full Name</td>
                                        <td>
                                            <a href="#" id="FullName" data-type="text" data-pk="69" data-placement="right" data-placeholder="Required" data-original-title="Enter your fullName">@Model.FullName</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Password</td>
                                        <td>
                                            <a href="javascript:void(0)" id="lnkChangePassword" style="color: #b200ff; font-weight: bold;">Change Password</a>
                                            &nbsp;&nbsp;<span style="font-style: italic; color: #3348ef" id="spanPasswordChanged"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Sex <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Sex" data-type="select" data-pk="2" data-value="@Model.Sex" data-source="/sex" data-original-title="Select Sex">@Model.Sex</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Meal preference <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="MealPreference" data-type="select" data-pk="3" data-value="@Model.MealPreference" data-source="/mealPreference" data-original-title="Select Meal Preference">@Model.MealPreference</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Disability or special treatment</td>
                                        <td>
                                            <a href="#" id="DisabilityOrTreatment" data-type="textarea" data-pk="4" data-placeholder="Your comments here..." data-original-title="Enter comments">@Model.DisabilityOrTreatment</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Email address <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Email" data-type="text" data-pk="76" data-placement="right" data-placeholder="Required" data-original-title="Enter your Email">@Model.Email</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Other email address</td>
                                        <td>
                                            <a href="#" id="OtherEmail" data-type="text" data-pk="6" data-placement="right" data-placeholder="Required" data-original-title="Enter your other Email">@Model.OtherEmail</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Phone number <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Phone" data-type="text" data-pk="7" data-placement="right" data-placeholder="Required" data-original-title="Enter your phone">@Model.Phone</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Address <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Address" data-type="textarea" data-pk="8" data-placeholder="Your address..." data-original-title="Enter your address">@Model.Address</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>City <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="City" data-type="text" data-pk="9" data-placement="right" data-placeholder="Required" data-original-title="Enter your city">@Model.City</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Country <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Country" data-type="select" data-pk="10" data-value="@Model.Country" data-source="/country" data-original-title="Select Country">@Model.Country</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Work Address</td>
                                        <td>
                                            <a href="#" id="WorkAddress" data-type="text" data-pk="11" data-placeholder="Your work address" data-original-title="Enter your work address">@Model.WorkAddress</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Organization <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Organization" data-type="text" data-pk="12" data-placeholder="Your organization..." data-original-title="Enter your organization">@Model.Organization</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Participant type <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="ParticipantType" data-type="select" data-pk="13" data-value="@Model.ParticipantType" data-source="/participantType" data-original-title="Select Participant type">@Model.ParticipantType</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Participate in Youth conference <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="radio" id="YouthConference" name="YouthConference" value="true" @(Model.YouthConference == "true" ? "checked" : "")>&nbsp;Yes
                                            <input type="radio" id="YouthConference" name="YouthConference" value="false" @(Model.YouthConference == "false" ? "checked" : "")>&nbsp;No
                                            <i>(Youth age 15-24/ Born in 1993 - 2002)</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Need visa support</td>
                                        <td>
                                            <input type="radio" id="NeedVisaSupport" name="NeedVisaSupport" onchange="changedEnabledControl();" value="true" @(Model.NeedVisaSupport == true ? "checked" : "")>&nbsp;Yes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date of birth <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="DateOfBirth" class="form-control" name="DateOfBirth" value="@(Model.DateOfBirth != null ? Model.DateOfBirth.Value.ToString("yyyy/MM/dd HH:mm") : "")" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Original nationality <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="OriginalNationality" data-type="text" data-pk="15" data-placeholder="Your original nationality..." data-original-title="Enter your original nationality">@Model.OriginalNationality</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Current nationality <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="CurrentNationality" data-type="text" data-pk="16" data-placeholder="Your current nationality..." data-original-title="Enter your current nationality">@Model.CurrentNationality</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Passport number <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="PassportNumber" data-type="text" data-pk="17" data-placeholder="Your passport number..." data-original-title="Enter your passport number">@Model.PassportNumber</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Type of passport <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="TypeOfPassport" data-type="select" data-pk="18" data-value="@Model.TypeOfPassport" data-source="/typeOfPassport" data-original-title="Select type of passport">@Model.TypeOfPassport</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <img id="PassportPhoto1" class="fileinput-preview thumbnail" src="@(Model != null ? Model.PassportPhoto1 : "")" style="width: 200px; height: 150px; display: inline-block;" />
                                            <img id="PassportPhoto2" class="fileinput-preview thumbnail" src="@(Model != null ? Model.PassportPhoto2 : "")" style="width: 200px; height: 150px; display: inline-block;" />
                                            <img id="PassportPhoto3" class="fileinput-preview thumbnail" src="@(Model != null ? Model.PassportPhoto3 : "")" style="width: 200px; height: 150px; display: inline-block;" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Photocopies of the first 3 pages of the passport</td>
                                        <td>
                                            <input type="file" id="upload" class="form-control" accept="image/*" multiple  />
                                            <span class="help-block">Only JPEG, JPG, PNG (Max Size: 500KB)</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Occupation <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="Occupation" data-type="text" data-pk="19" data-placeholder="Your occupation..." data-original-title="Enter your occupation">@Model.Occupation</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date of Passport issue <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="DateOfPassportIssue" class="form-control" name="DateOfPassportIssue" value="@(Model.DateOfPassportIssue != null ? Model.DateOfPassportIssue.Value.ToString("yyyy/MM/dd HH:mm") : "")" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date of Passport expiry <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="DateOfPassportExpiry" class="form-control" name="DateOfPassportExpiry" value="@(Model.DateOfPassportExpiry != null ? Model.DateOfPassportExpiry.Value.ToString("yyyy/MM/dd HH:mm") : "")" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Detail address of the Embassy of Viet Nam in your country which you will apply for your Visa to enter Viet Nam (for all delegates who need visa)</td>
                                        <td>
                                            <a href="#" id="DetailOfEmbassy" data-type="textarea" data-pk="22" data-placeholder="Your embassy..." data-original-title="Enter your embassy">@Model.DetailOfEmbassy</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="button" class="btn plupload_add btn-primary" id="btnSave" value="Save Changes" disabled style="position: relative; z-index: 1;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        <!-- End Contact Form -->
                    </div>
                </div>
            </div>
            <!-- End Accordion 1 -->

            <!-- Start Accordion 2 -->
            @*<div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-5" class="collapsed">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-gift-1"></i> Abstract submission
                        </a>
                    </h4>
                </div>
                <div id="collapse-5" class="panel-collapse collapse">
                    <div class="panel-body">
                        @if (ViewBag.Abstracts != null)
                        {
                            var abstracts = (IList<Site.Core.DataModel.Model.UserSubmissionModel>)ViewBag.Abstracts;
                            if (abstracts != null && abstracts.Count > 0)
                            {
                                <ul>
                                    @foreach (var item in abstracts)
                                    {
                                        <li>@item.SubmissionNumber</li>
                                    }
                                </ul>
                            }
                        }
                    </div>
                </div>
            </div>*@
            <!-- End Accordion 2 -->

            <!-- Start Accordion 3 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-6" class="collapsed">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-box-3"></i> Main conference scholarship application
                        </a>
                    </h4>
                </div>
                <div id="collapse-6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>The 9th Asia Pacific Conference on Reproductive and Sexual Health and Rights (APCRSHR) is pleased to invite those delegates who are interested in the field of reproductive and sexual health and rights to apply for scholarships to attend the 9th APCRSHR <a href="http://www.apcrshr9vn.com/" target="_blank">http://www.apcrshr9vn.com/</a>. This opportunity is open to individuals from all over the world whose careers focus on sexual and reproductive health and rights.</p>
                        <p>The application package will be opened soon.</p>
                        <div class="call-action call-action-boxed call-action-style1 no-descripton clearfix">
                            <!-- Call Action Button -->
                            <div class="button-side"><a href='#' class="btn-system border-btn btn-medium">Scholarship registration expired</a></div>
                            <!-- Call Action Text -->
                            <h2 class="primary"><strong>The application package</strong> should be completed and submitted online at:</h2>
                        </div>
                        <p>Awardees will be selected on the basis of applicant’s qualifications and abstract quality. For more information, please direct your inquiries to the 9th APCRSHR at <a href='mailto:scholarship@apcrshr9vn.com'><span>scholarship@apcrshr9vn.com</span></a>.</p>
                        <!--Your main scholarship-->
                        <div class="call-action call-action-boxed call-action-style2 clearfix">
                            <!-- Call Action Button -->
                            <div class="button-side" style="margin-top:8px;"><a href='@Url.Action("MainScholarships", "Scholarship")' target="_blank" class="btn-system btn-large"><i class="icon-gift-1"></i> Management</a></div>
                            <!-- Call Action Text -->
                            <h2 class="primary">Your <strong>submitted</strong> scholarship</h2>
                            <p>You can update the scholarship before the submission deadline.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion 3 -->

            <!-- Start Accordion 4 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-7" class="collapsed">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-home-1"></i> Youth scholarship application
                        </a>
                    </h4>
                </div>
                <div id="collapse-7" class="panel-collapse collapse">
                    <div class="panel-body">
                        <p>The 9th Asia Pacific Conference on Reproductive and Sexual Health and Rights (APCRSHR) is pleased to invite youth delegates who are interested in the field of reproductive and sexual health and rights to apply for scholarships to attend the 9th APCRSHR <a href="http://www.apcrshr9vn.com" target="_blank">http://www.apcrshr9vn.com</a>. This opportunity is open to individuals from all over the world whose careers focus on sexual and reproductive health and rights. </p>
                        <p>Awardees will be selected on the basis of applicant’s qualifications and abstract quality.</p>
                        <p>Guide to Application Writing for Scholarships (<a href="http://apcrshr9vn.org/Home/ArticleView/scholarships-for-youth-57983646" target="_blank">Link</a>)</p>
                        <p>For more information, please direct your inquiries to the 9th APCRSHR at <a href='mailto:scholarship@apcrshr9vn.com'><span>scholarship@apcrshr9vn.com</span></a>.</p>
                    </div>
                </div>
            </div>
            <!-- End Accordion 4 -->

            <!-- Start Accordion 5 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-8" class="collapsed">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-money-1"></i> To pay registration fee
                        </a>
                    </h4>
                </div>
                <div id="collapse-8" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="page-content">

                            @if (ViewBag.PaymentFee != null)
                            {
                                int fee = (int)ViewBag.PaymentFee;
                                if (fee == -1)
                                {
                                    if (ViewBag.PaymentStatus != null)
                                    {
                                        <!-- Start Big Heading -->
                                        <div class="big-title text-center">
                                            <h1>@Html.Raw(ViewBag.PaymentStatus)</h1>
                                        </div>
                                        <!-- End Big Heading -->
                                    }
                                    else
                                    {
                                        <!-- Start Big Heading -->
                                        <div class="big-title text-center">
                                            <h1>Please update your infomation <strong>correctly</strong> before make a payment!</h1>
                                        </div>
                                        <!-- End Big Heading -->   
                                    }
                                }
                                else if (fee == 0)
                                {
                                    <!-- Start Big Heading -->
                                    <div class="big-title text-center">
                                        <h1>Your account has <strong>completed</strong> payment!</h1>
                                    </div>
                                    <!-- End Big Heading -->
                                }
                                else
                                {
                                    <!-- Start Big Heading -->
                                    <div class="big-title text-center">
                                        <h1>Please make a payment to <strong>complete</strong> your registration!</h1>
                                    </div>
                                    <!-- End Big Heading -->

                                    <!-- Divider -->
                                    <div class="hr1" style="margin-bottom:15px;"></div>

                                    <!-- Start Pricing Tables -->
                                    <div class="pricing-tables grid-1 clearfix">

                                        <!-- Start Pricing Table 3 -->
                                        <div class="pricing-table highlight-plan">
                                            <div class="plan-name">
                                                <h3>@Model.ParticipantType</h3>
                                            </div>
                                            <div class="plan-price">
                                                <div class="price-value">$@fee</div>
                                                <div class="interval">fee</div>
                                            </div>
                                            <div class="plan-signup">
                                                <a href="@Url.Action("MakePayment", "User")" class="btn-system btn-small border-btn">Pay Now</a>
                                            </div>
                                        </div>
                                        <!-- End Pricing Table 3 -->

                                    </div>
                                    <!-- End Pricing Tables -->
                                }
                            }
                            else
                            {
                                <!-- Start Big Heading -->
                                    <div class="big-title text-center">
                                        <h1>Please <strong>complete</strong> your information before make a payment!</h1>
                                    </div>
                                    <!-- End Big Heading -->
                            }
                            <br />
                            <div class="row" style="overflow: scroll;">
                                <script type="text/javascript" src="http://202.9.84.88/documents/payment/logoscript.jsp?logos=v,m,a,j,u,at&lang=en"></script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Accordion 5 -->

            <!-- Start Accordion 6 -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-9" class="collapsed">
                            <i class="icon-down-open-1 control-icon"></i>
                            <i class="icon-mail"></i> Logistic Arrangement
                        </a>
                    </h4>
                </div>
                <div id="collapse-9" class="panel-collapse collapse">
                    <div class="panel-body">
                        
                        <!-- Start Flight Form -->
                        @using (Ajax.BeginForm("SaveLogisticInfo", "User", new AjaxOptions
                                            {
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST",
                                                OnFailure = "userUpdateFailure",
                                                OnSuccess = "userUpdateSuccess"
                                            }, new { @class = "form-horizontal form-bordered form-validate", id = "frmSaveLogistic" }))
                        {
                            @Html.HiddenFor(model => model.UserID, new { @id = "UserID" })
                            @Html.HiddenFor(model => model.Logistic.LogisticID, new { @id = "LogisticID" })
                            <table id="user" class="table table-bordered table-striped table-force-topborder" style="clear: both">
                                <tbody>
                                    <tr>
                                        <td width="25%">Arrival date time <span class="validation-span-required">(*)</span></td>
                                        <td width="75%">
                                            <input type="text" id="ArrivalDate" class="form-control" name="ArrivalDate" value="@(Model.Logistic.ArrivalDate != null ? Model.Logistic.ArrivalDate.Value.ToString("yyyy/MM/dd HH:mm") : DateTime.Now.ToString("yyyy/MM/dd HH:mm"))" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Flight number <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="ArrivalFlightNumber" name="ArrivalFlightNumber" data-type="text" data-pk="51" data-placement="right" data-placeholder="Required" data-original-title="Enter your flight number">@Model.Logistic.ArrivalFlightNumber</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Arrival Gate <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="radio" id="ArrivalGate" name="ArrivalGate" value="Domestic" @(Model.Logistic.ArrivalGate == "Domestic" ? "checked" : "")>&nbsp;Domestic
                                            <input type="radio" id="ArrivalGate" name="ArrivalGate" value="International" @(Model.Logistic.ArrivalGate == "International" ? "checked" : "")>&nbsp;International
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Departure date time <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="DepartureDate" class="form-control" name="DepartureDate" value="@(Model.Logistic.DepartureDate != null ? Model.Logistic.DepartureDate.Value.ToString("yyyy/MM/dd HH:mm") : DateTime.Now.ToString("yyyy/MM/dd HH:mm"))" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Flight number <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <a href="#" id="DepartureFlightNumber" name="DepartureFlightNumber" data-type="text" data-pk="53" data-placement="right" data-placeholder="Required" data-original-title="Enter your flight number">@Model.Logistic.DepartureFlightNumber</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Departure Gate <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="radio" id="DepartureGate" name="DepartureGate" value="Domestic" @(Model.Logistic.DepartureGate == "Domestic" ? "checked" : "")>&nbsp;Domestic
                                            <input type="radio" id="DepartureGate" name="DepartureGate" value="International" @(Model.Logistic.DepartureGate == "International" ? "checked" : "")>&nbsp;International
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Airport pick-up/drop-off service</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <span style="text-decoration: underline;">Note:</span> 4 seat-taxi costs from Noi Bai Airport to Halong are generally around 100 USD/one way. To support delegates, APCRSHR9 will arrange airport pick up and drop off for those who wish to use this service (from 25th November  to 1st December) with a very modest fee: 15$/trip. Delegate will pay by cash when arrive. If you don’t need this service, please skip this part
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>When do you need airport pick up/drop off service?</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="checkbox" id="ArrivalDay" name="WhenNeedPick" value="Arrival day" @(!string.IsNullOrEmpty(Model.Logistic.WhenNeedPick) && Model.Logistic.WhenNeedPick.Contains("Arrival day") ? "checked" : "")>&nbsp;Arrival day
                                            <input type="checkbox" id="DepartureDay" name="WhenNeedPick" value="Departure day" @(!string.IsNullOrEmpty(Model.Logistic.WhenNeedPick) && Model.Logistic.WhenNeedPick.Contains("Departure day") ? "checked" : "")>&nbsp;Departure day
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Special requirement</td>
                                        <td>
                                            <a href="#" id="SpecialRequirement" name="SpecialRequirement" data-type="textarea" data-pk="55" data-placeholder="Your Special requirement" data-original-title="Enter your Special requirement">@Model.Logistic.SpecialRequirement</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <b>Accommodation</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p>
                                                There are actually many hotels that you can find to choose on the internet. From our side, we have negotiated special discounted rates for APCRSHR9 delegates in a range of accommodation options close to the conference venue. As the allotment of hotel rooms is limited, please make your reservation as early as possible. All rooms are available on a first-come, first-served basis. If you need assistance with room booking, please contact  <a href="mailto:Secretariat@apcrshr9vn.org">Secretariat@apcrshr9vn.org</a>
                                            </p>
                                            <p>Hotel list and information is available here: <a href="http://www.apcrshr9vn.org/Home/ArticleView/accommodation-08086932" target="_blank">Accommodation</a></p>
                                            <p>----</p>
                                            <p>Please let us know which hotel you have booked</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Hotel name</td>
                                        <td>
                                            <a href="#" id="HotelName" data-type="select" data-pk="56" data-value="@Model.Logistic.HotelName" data-source="/accommodation" data-original-title="Select hotel name">@Model.Logistic.HotelName</a>
                                            <br /><input type="text" id="OtherHotelName" value="" name="OtherHotelName" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Checkin date <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="CheckinDate" class="form-control" name="CheckinDate" value="@(Model.Logistic.CheckinDate != null ? Model.Logistic.CheckinDate.Value.ToString("yyyy/MM/dd HH:mm") : DateTime.Now.ToString("yyyy/MM/dd HH:mm"))" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Checkout date <span class="validation-span-required">(*)</span></td>
                                        <td>
                                            <input type="text" id="CheckoutDate" class="form-control" name="CheckoutDate" value="@(Model.Logistic.CheckoutDate != null ? Model.Logistic.CheckoutDate.Value.ToString("yyyy/MM/dd HH:mm") : DateTime.Now.ToString("yyyy/MM/dd HH:mm"))" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <input type="button" class="btn plupload_add btn-primary" id="btnSaveFlightSchedule" value="Save Changes" disabled style="position: relative; z-index: 1;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                        <!-- End Flight Form -->

                    </div>
                </div>
            </div>
            <!-- End Accordion 6 -->

        </div>
        <!-- End Accordion -->

    </div>

</div>

<script type="text/javascript">
    $('#upload').on('change', function (e) {
        $.blockUI({ message: $('#spinner') });
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    if (files[x].size / 1024 > 500) {
                        bootbox.alert('The image is too large, the size should be less than 500KB per image.', function () {
                            bootbox.hideAll();
                        });
                        $(this).clearFiles();
                        return;
                    }
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Upload", "User")',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        if (result.ErrorCode == 0) {
                            var mailing = result.Mailing;
                            if (mailing) {
                                $('#PassportPhoto1').attr('src', mailing.PassportPhoto1);
                                $('#PassportPhoto2').attr('src', mailing.PassportPhoto2);
                                $('#PassportPhoto3').attr('src', mailing.PassportPhoto3);
                            }
                        } else {
                            bootbox.alert('File upload failed.', function () {
                                bootbox.hideAll();
                            });
                        }
                        $.unblockUI();
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                        $.unblockUI();
                    }
                });
            } else {
                bootbox.alert("This browser doesn't support HTML5 file uploads!", function () {
                    bootbox.hideAll();
                });
                $.unblockUI();
            }
        }
    });
</script>

<script type="text/javascript">
    $.datetimepicker.setLocale('en');
    $('#ArrivalDate').datetimepicker({ value: $('#ArrivalDate').val(), format: $("#datetimepicker_format_value").val() });
    $('#DepartureDate').datetimepicker({ value: $('#DepartureDate').val(), format: $("#datetimepicker_format_value").val() });
    $('#CheckinDate').datetimepicker({ value: $('#CheckinDate').val(), format: $("#datetimepicker_format_value").val() });
    $('#CheckoutDate').datetimepicker({ value: $('#CheckoutDate').val(), format: $("#datetimepicker_format_value").val() });

    //editables
    //$('#ArrivalDate').editable({ url: scheduleValueChanged });

    $('#HotelName').editable({
        validate: function (value) {
            //if (value == '') return 'Hotel name is required!';
            if (value == 'Other') {
                $("#OtherHotelName").show();
            } else {
                $("#OtherHotelName").hide();
            }
        },
        url: scheduleValueChanged
    });

    $('#ArrivalFlightNumber').editable({
        validate: function (value) {
            if (value == '') return 'Flight number is required!';
        },
        url: scheduleValueChanged
    });

    //$('#DepartureDate').editable({ url: scheduleValueChanged });

    $('#DepartureFlightNumber').editable({
        validate: function (value) {
            if (value == '') return 'Flight number is required!';
        },
        url: scheduleValueChanged
    });

    $('#SpecialRequirement').editable({
        showbuttons: true, url: scheduleValueChanged
    });

    function scheduleValueChanged(params) {
        $("#btnSaveFlightSchedule").removeAttr("disabled");
    }
    
    $("#frmSaveLogistic input[name='ArrivalGate']").click(scheduleValueChanged);
    $("#frmSaveLogistic input[name='DepartureGate']").click(scheduleValueChanged);
    $("#frmSaveLogistic input[id='DepartureDay']").click(scheduleValueChanged);
    $("#frmSaveLogistic input[id='ArrivalDay']").click(scheduleValueChanged);
    $('#ArrivalDate').click(scheduleValueChanged);
    $('#DepartureDate').click(scheduleValueChanged);
    $('#CheckinDate').click(scheduleValueChanged);
    $('#CheckoutDate').click(scheduleValueChanged);

    $("#btnSaveFlightSchedule").click(function () {
        var arrivalDate = $('#ArrivalDate').val();
        var departureDate = $('#DepartureDate').val();

        if (arrivalDate == '' || departureDate == '') {
            bootbox.alert('Please select the date', function () {
                bootbox.hideAll();
            });
            return;
        }

        var checkinDate = $('#CheckinDate').val();
        var checkoutDate = $('#CheckoutDate').val();

        var hotelName = $("#HotelName").text();
        if (hotelName == 'Other') {
            hotelName = $("#OtherHotelName").val();
        }

        $.blockUI({ message: $('#spinner') });
        var formData = new FormData();
        formData.append("UserID", $("#UserID").val());
        formData.append("LogisticID", $("#LogisticID").val());
        formData.append("ArrivalDate", arrivalDate);
        formData.append("ArrivalFlightNumber", $("#ArrivalFlightNumber").text());
        formData.append("ArrivalGate", $("#frmSaveLogistic input[name='ArrivalGate']:checked").val());
        formData.append("DepartureDate", departureDate);
        formData.append("DepartureFlightNumber", $("#DepartureFlightNumber").text());
        formData.append("DepartureGate", $("#frmSaveLogistic input[id='DepartureGate']:checked").val());
        var str = $("#frmSaveLogistic input[id='ArrivalDay']:checked").val() + ',' + $("#frmSaveLogistic input[id='DepartureDay']:checked").val();
        formData.append("WhenNeedPick", str);
        formData.append("SpecialRequirement", $("#SpecialRequirement").text());
        formData.append("HotelName", hotelName);
        formData.append("CheckinDate", checkinDate);
        formData.append("CheckoutDate", checkoutDate);
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveLogisticInfo", "User")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $.unblockUI();
                bootbox.alert(response.Message, function () {
                    bootbox.hideAll();
                });
                //Timeout
                if (response.ErrorCode == 2) {
                    window.location = '@Url.Action("Login", "User")';
                }
                if (response.ErrorCode == 0) {
                    $("#btnSave").attr("disabled", "disabled");
                }
            },
            error: function (error) {
                $.unblockUI();
                bootbox.alert(error, function () {
                    bootbox.hideAll();
                });
            }
        });
    });
</script>

<script type="text/javascript">

    function changedEnabledControl() {
        $("#btnSave").removeAttr("disabled");
    }

    $(function () {

        //defaults
        $.fn.editable.defaults.url = '/post';
        $("#OtherHotelName").hide();

        //editables
        $('#Title').editable({
            validate: function (value) {
                if (value == '') return 'Title is required!';
            },
            url: changedValue
        });
        $('#Sex').editable({
            validate: function (value) {
                if (value == '') return 'Sex is required!';
            },
            url: changedValue
        });
        $('#MealPreference').editable({
            validate: function (value) {
                if (value == '') return 'Meal preference is required!';
            },
            url: changedValue
        });
        $('#DisabilityOrTreatment').editable({ showbuttons: true, url: changedValue });
        $('#OtherEmail').editable({
            validate: function (value) {
                if (!validateEmail(value)) return 'The email is invalid';
            },
            url: changedValue
        });
        $('#Email').editable({
            validate: function (value) {
                if (value == '') return 'Email is required!';
            },
            url: changedValue
        });
        $('#Phone').editable({
            validate: function (value) {
                if (value == '') return 'Phone is required!';
            },
            url: changedValue
        });
        $('#FullName').editable({
            validate: function (value) {
                if (value == '') return 'FullName is required!';
            },
            url: changedValue
        });
        $('#Address').editable({
            validate: function (value) {
                if (value == '') return 'Address is required!';
            },
            showbuttons: true, url: changedValue
        });
        $('#City').editable({
            validate: function (value) {
                if (value == '') return 'City is required!';
            },
            showbuttons: true, url: changedValue
        });
        $('#Country').editable({ url: changedValue });
        $('#WorkAddress').editable({ showbuttons: true, url: changedValue });
        $('#Organization').editable({
            validate: function (value) {
                if (value == '') return 'Organization is required!';
            },
            showbuttons: true, url: changedValue
        });
        $('#ParticipantType').editable({ showbuttons: true, url: changedValue });
        $('#OriginalNationality').editable({
            validate: function (value) {
                if (value == '') return 'Original nationality is required!';
            },
            url: changedValue
        });
        $('#CurrentNationality').editable({
            validate: function (value) {
                if (value == '') return 'Current nationality is required!';
            },
            url: changedValue
        });
        $('#PassportNumber').editable({ url: changedValue });
        $('#TypeOfPassport').editable({ showbuttons: true, url: changedValue });
        $('#Occupation').editable({
            validate: function (value) {
                if (value == '') return 'Occupation is required!';
            },
            url: changedValue
        });

        $.datetimepicker.setLocale('en');
        $('#DateOfPassportIssue').datetimepicker({ value: $('#DateOfPassportIssue').val(), format: $("#datetimepicker_format_value").val() });
        $('#DateOfPassportExpiry').datetimepicker({ value: $('#DateOfPassportExpiry').val(), format: $("#datetimepicker_format_value").val() });
        $('#DateOfBirth').datetimepicker({ value: $('#DateOfBirth').val(), format: $("#datetimepicker_format_value").val() });
        $('#DateOfPassportIssue').click(changedEnabledControl);
        $('#DateOfPassportIssue').click(changedEnabledControl);
        $('#DateOfBirth').click(changedEnabledControl);

        $('#DetailOfEmbassy').editable({ url: changedValue });

        function changedValue(params) {
            //var control = $("#" + params.name);
            //var old = $(control).text();
            //if (old != params.value) {
                $("#btnSave").removeAttr("disabled");
            //}
        }
        
        $('#address').editable({
            url: '/post',
            value: {
                city: "Moscow",
                street: "Lenina",
                building: "12"
            },
            validate: function (value) {
                if (value.city == '') return 'city is required!';
            },
            display: function (value) {
                if (!value) {
                    $(this).empty();
                    return;
                }
                var html = '<b>' + $('<div>').text(value.city).html() + '</b>, ' + $('<div>').text(value.street).html() + ' st., bld. ' + $('<div>').text(value.building).html();
                $(this).html(html);
            }
        });

        $('#user .editable').on('hidden', function (e, reason) {
            if (reason === 'save' || reason === 'nochange') {
                var $next = $(this).closest('tr').next().find('.editable');
                if ($('#autoopen').is(':checked')) {
                    setTimeout(function () {
                        $next.editable('show');
                    }, 300);
                } else {
                    $next.focus();
                }
            }
        });

        //Loading Title
        $.mockjax({
            url: '/title',
            response: function (settings) {
                this.responseText = [{
                    value: 'Dr',
                    text: 'Dr'
                }, {
                    value: 'Mr',
                    text: 'Mr'
                }, {
                    value: 'Mrs',
                    text: 'Mrs'
                }, {
                    value: 'Ms',
                    text: 'Ms'
                }];
            }
        });
        //Loading accommodation
        $.mockjax({
            url: '/accommodation',
            response: function (settings) {
                this.responseText = [{
                    value: 'Novotel Ha Long (4 stars)',
                    text: 'Novotel Ha Long (4 stars)'
                }, {
                    value: 'Sai Gon Ha Long (4 stars)',
                    text: 'Sai Gon Ha Long (4 stars)'
                }, {
                    value: 'Halong Pearl Hotel (3 stars)',
                    text: 'Halong Pearl Hotel (3 stars)'
                }, {
                    value: 'Golden Lotus (3 stars)',
                    text: 'Golden Lotus (3 stars)'
                }, {
                    value: 'Bach Dang (3 stars)',
                    text: 'Bach Dang (3 stars)'
                }, {
                    value: 'Other',
                    text: 'Other'
                }];
            }
        });
        //Loading Sex
        $.mockjax({
            url: '/sex',
            response: function (settings) {
                this.responseText = [{
                    value: 'Male',
                    text: 'Male'
                }, {
                    value: 'Female',
                    text: 'Female'
                }];
            }
        });
        //Loading meal
        $.mockjax({
            url: '/mealPreference',
            response: function (settings) {
                this.responseText = [{
                    value: 'Vegetarian',
                    text: 'Vegetarian'
                }, {
                    value: 'Non - vegetarian',
                    text: 'Non - vegetarian'
                }];
            }
        });
        //Loading Country
        $.mockjax({
            url: '/country',
            response: function (settings) {
                this.responseText = [{
                    value: 'Afghanistan',
                    text: 'Afghanistan'
                }, {
                    value: 'Albania',
                    text: 'Albania'
                }, {
                    value: 'Algeria',
                    text: 'Algeria'
                }, {
                    value: 'Angola',
                    text: 'Angola'
                }, {
                    value: 'Argentina',
                    text: 'Argentina'
                }, {
                    value: 'Armenia',
                    text: 'Armenia'
                }, {
                    value: 'Australia',
                    text: 'Australia'
                }, {
                    value: 'Azerbaijan',
                    text: 'Azerbaijan'
                }, {
                    value: 'Bangladesh',
                    text: 'Bangladesh'
                }, {
                    value: 'Bolivia',
                    text: 'Bolivia'
                }, {
                    value: 'Brazil',
                    text: 'Brazil'
                }, {
                    value: 'Brunei',
                    text: 'Brunei'
                }, {
                    value: 'Bulgaria',
                    text: 'Bulgaria'
                }, {
                    value: 'Cameroon',
                    text: 'Cameroon'
                }, {
                    value: 'Canada',
                    text: 'Canada'
                }, {
                    value: 'Chile',
                    text: 'Chile'
                }, {
                    value: 'China',
                    text: 'China'
                }, {
                    value: 'Colombia',
                    text: 'Colombia'
                }, {
                    value: 'Congo',
                    text: 'Congo'
                }, {
                    value: 'Costa Rica',
                    text: 'Costa Rica'
                }, {
                    value: 'Croatia',
                    text: 'Croatia'
                }, {
                    value: 'Cuba',
                    text: 'Cuba'
                }, {
                    value: 'Czech',
                    text: 'Czech'
                }, {
                    value: 'Dominica',
                    text: 'Dominica'
                }, {
                    value: 'Ecuador',
                    text: 'Ecuador'
                }, {
                    value: 'Egypt',
                    text: 'Egypt'
                }, {
                    value: 'France',
                    text: 'France'
                }, {
                    value: 'Georgia',
                    text: 'Georgia'
                }, {
                    value: 'Germany',
                    text: 'Germany'
                }, {
                    value: 'Ghana',
                    text: 'Ghana'
                }, {
                    value: 'Greece',
                    text: 'Greece'
                }, {
                    value: 'Haiti',
                    text: 'Haiti'
                }, {
                    value: 'Hungary',
                    text: 'Hungary'
                }, {
                    value: 'Iceland',
                    text: 'Iceland'
                }, {
                    value: 'India',
                    text: 'India'
                }, {
                    value: 'Indonesia',
                    text: 'Indonesia'
                }, {
                    value: 'Iran',
                    text: 'Iran'
                }, {
                    value: 'Ireland',
                    text: 'Ireland'
                }, {
                    value: 'Israel',
                    text: 'Israel'
                }, {
                    value: 'Italy',
                    text: 'Italy'
                }, {
                    value: 'Jamaica',
                    text: 'Jamaica'
                }, {
                    value: 'Japan',
                    text: 'Japan'
                }, {
                    value: 'Jordan',
                    text: 'Jordan'
                }, {
                    value: 'Kazakhstan',
                    text: 'Kazakhstan'
                }, {
                    value: 'Kuwait',
                    text: 'Kuwait'
                }, {
                    value: 'Kyrgyzstan',
                    text: 'Kyrgyzstan'
                }, {
                    value: 'Laos',
                    text: 'Laos'
                }, {
                    value: 'Latvia',
                    text: 'Latvia'
                }, {
                    value: 'Lebanon',
                    text: 'Lebanon'
                }, {
                    value: 'Liberia',
                    text: 'Liberia'
                }, {
                    value: 'Libya',
                    text: 'Libya'
                }, {
                    value: 'Macedonia',
                    text: 'Macedonia'
                }, {
                    value: 'Malaysia',
                    text: 'Malaysia'
                }, {
                    value: 'Mali',
                    text: 'Mali'
                }, {
                    value: 'Mexico',
                    text: 'Mexico'
                }, {
                    value: 'Myanmar',
                    text: 'Myanmar'
                }, {
                    value: 'Nepal',
                    text: 'Nepal'
                }, {
                    value: 'New Zealand',
                    text: 'New Zealand'
                }, {
                    value: 'Nigeria',
                    text: 'Nigeria'
                }, {
                    value: 'North Korea',
                    text: 'North Korea'
                }, {
                    value: 'Pakistan',
                    text: 'Pakistan'
                }, {
                    value: 'Palestine',
                    text: 'Palestine'
                }, {
                    value: 'Paraguay',
                    text: 'Paraguay'
                }, {
                    value: 'Peru',
                    text: 'Peru'
                }, {
                    value: 'Philippines',
                    text: 'Philippines'
                }, {
                    value: 'Poland',
                    text: 'Poland'
                }, {
                    value: 'Portugal',
                    text: 'Portugal'
                }, {
                    value: 'Romania',
                    text: 'Romania'
                }, {
                    value: 'Russia',
                    text: 'Russia'
                }, {
                    value: 'Saudi Arabia',
                    text: 'Saudi Arabia'
                }, {
                    value: 'Senegal',
                    text: 'Senegal'
                }, {
                    value: 'Serbia',
                    text: 'Serbia'
                }, {
                    value: 'Singapore',
                    text: 'Singapore'
                }, {
                    value: 'Slovenia',
                    text: 'Slovenia'
                }, {
                    value: 'South Africa',
                    text: 'South Africa'
                }, {
                    value: 'South Korea',
                    text: 'South Korea'
                }, {
                    value: 'Spain',
                    text: 'Spain'
                }, {
                    value: 'Sudan',
                    text: 'Sudan'
                }, {
                    value: 'Sweden',
                    text: 'Sweden'
                }, {
                    value: 'Switzerland',
                    text: 'Switzerland'
                }, {
                    value: 'Syria',
                    text: 'Syria'
                }, {
                    value: 'Taiwan',
                    text: 'Taiwan'
                }, {
                    value: 'Tajikistan',
                    text: 'Tajikistan'
                }, {
                    value: 'Thailand',
                    text: 'Thailand'
                }, {
                    value: 'Tunisia',
                    text: 'Tunisia'
                }, {
                    value: 'Turkey',
                    text: 'Turkey'
                }, {
                    value: 'Ukraine',
                    text: 'Ukraine'
                }, {
                    value: 'United Kingdom',
                    text: 'United Kingdom'
                }, {
                    value: 'United States',
                    text: 'United States'
                }, {
                    value: 'Uruguay',
                    text: 'Uruguay'
                }, {
                    value: 'Venezuela',
                    text: 'Venezuela'
                }, {
                    value: 'Vietnam',
                    text: 'Vietnam'
                }, {
                    value: 'Yemen',
                    text: 'Yemen'
                }, {
                    value: 'Zambia',
                    text: 'Zambia'
                }, {
                    value: 'Zimbabwe',
                    text: 'Zimbabwe'
                }];
            }
        });
        //Loading Participant Type
        $.mockjax({
            url: '/participantType',
            response: function (settings) {
                this.responseText = [{
                    value: 'International delegates',
                    text: 'International delegates'
                }, {
                    value: 'Vietnamese delegate',
                    text: 'Vietnamese delegate'
                }, {
                    value: 'International youth',
                    text: 'International youth'
                }, {
                    value: 'Vietnamese youth',
                    text: 'Vietnamese youth'
                }];
            }
        });
        //Loading type of passport
        $.mockjax({
            url: '/typeOfPassport',
            response: function (settings) {
                this.responseText = [{
                    value: 'Regular',
                    text: 'Regular'
                }, {
                    value: 'Official',
                    text: 'Official'
                }, {
                    value: 'Diplomatic',
                    text: 'Diplomatic'
                }];
            }
        });


        //Validate
        function validateEmail(email) {
            var re = /^[_a-z0-9-A-Z-]+(\.[_a-z0-9-A-Z-]+)*@@[a-z0-9-A-Z-]+(\.[a-z0-9-A-Z-]+)*(\.[a-z]{2,4})$/;
            return re.test(email);
        }
    });
</script>

<script type="text/javascript">
    $("#btnSave").click(function () {
        $.blockUI({ message: $('#spinner') });
        var formData = new FormData();
        formData.append("UserID", $("#UserID").val());
        formData.append("MailingAddressID", $("#MailingAddressID").val());
        formData.append("FullName", $("#FullName").text());
        formData.append("Title", $("#Title").text());
        formData.append("Email", $("#Email").text());
        formData.append("Locked", $("#Locked").val());
        formData.append("UserName", $("#UserName").val());
        formData.append("Sex", $("#Sex").text());
        formData.append("MealPreference", $("#MealPreference").text());
        formData.append("DisabilityOrTreatment", $("#DisabilityOrTreatment").text());
        formData.append("OtherEmail", $("#OtherEmail").text());
        formData.append("Phone", $("#Phone").text());
        formData.append("Address", $("#Address").text());
        formData.append("City", $("#City").text());
        formData.append("Country", $("#Country").text());
        formData.append("WorkAddress", $("#WorkAddress").text());
        formData.append("Organization", $("#Organization").text());
        formData.append("ParticipantType", $("#ParticipantType").text());
        formData.append("YouthConference", $("#frmSaveUser input[name='YouthConference']:checked").val());
        formData.append("NeedVisaSupport", $("#frmSaveUser input[id='NeedVisaSupport']:checked").val());
        formData.append("DateOfBirth", $("#DateOfBirth").val());
        formData.append("OriginalNationality", $("#OriginalNationality").text());
        formData.append("CurrentNationality", $("#CurrentNationality").text());
        formData.append("PassportNumber", $("#PassportNumber").text());
        formData.append("TypeOfPassport", $("#TypeOfPassport").text());
        formData.append("Occupation", $("#Occupation").text());
        formData.append("DateOfPassportIssue", $("#DateOfPassportIssue").val());
        formData.append("DateOfPassportExpiry", $("#DateOfPassportExpiry").val());
        formData.append("DetailOfEmbassy", $("#DetailOfEmbassy").text());
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUserInfomation", "User")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $.unblockUI();
                bootbox.alert(response.Message, function () {
                    bootbox.hideAll();
                });
                //Timeout
                if (response.ErrorCode == 2) {
                    window.location = '@Url.Action("Login", "User")';
                }
                if (response.ErrorCode == 0) {
                    $("#btnSave").attr("disabled", "disabled");
                }
            },
            error: function (error) {
                $.unblockUI();
                bootbox.alert(error, function () {
                    bootbox.hideAll();
                });
            }
        });
    });

    var changePasswordDialog = [
            '<form method="POST" action="@Url.Action("ChangePassword", "User")" id="frmChangePassword" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Current password</label>',
                            '<div class="col-sm-10">',
                                '<input type="password" name="CurrentPassword" id="CurrentPassword" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">New password</label>',
                            '<div class="col-sm-10">',
                                '<input type="password" name="NewPassword" id="NewPassword" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Confirm password</label>',
                            '<div class="col-sm-10">',
                                '<input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" data-rule-required="true" data-rule-equalto="#NewPassword">',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    $("#lnkChangePassword").click(function () {
        bootbox.dialog({
            message: changePasswordDialog,
            title: "Change password",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        var currentPassword = $("#CurrentPassword").val();
                        var newPassword = $("#NewPassword").val();
                        var confirmPassword = $("#ConfirmPassword").val();

                        if (currentPassword == null || currentPassword.length == 0) {
                            bootbox.alert("Please input your current password!", function () {
                                setTimeout(function () {
                                    $("#CurrentPassword").focus();
                                }, 1);
                            });
                            return false;
                        }
                        if (newPassword == null || newPassword.length < 6) {
                            bootbox.alert("Your new password must be at least 6 characters!", function () {
                                setTimeout(function () {
                                    $("#NewPassword").focus();
                                }, 1);
                            });
                            return false;
                        }
                        if (confirmPassword != newPassword) {
                            bootbox.alert("Confirmation password doesn't match!", function () {
                                setTimeout(function () {
                                    $("#ConfirmPassword").focus();
                                }, 1);
                            });
                            return false;
                        }
                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("UserID", $("#UserID").val());
                        formData.append("CurrentPassword", $("#CurrentPassword").val());
                        formData.append("NewPassword", $("#NewPassword").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ChangePassword", "User")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#spanPasswordChanged").html("Your password has changed!");
                                    bootbox.hideAll();
                                    $("#spanPasswordChanged").fadeIn(200);
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
    });
</script>
