@model IList<Site.Core.DataModel.Model.PhotoModel>
@{
    ViewBag.Title = "Ảnh";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <div class="highlight-toolbar">
                <div class="pull-left">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <div class="input-xlarge">
                                <select name="select" id="selectAlbum" onchange="selectAlbum(this)" class='chosen-select form-control'>
                                    @if (ViewBag.AlbumList != null)
                                    {
                                        IList<Site.Core.DataModel.Model.AlbumModel> albums = (IList<Site.Core.DataModel.Model.AlbumModel>)ViewBag.AlbumList;
                                        foreach (var item in albums)
                                        {
                                            <option value="@item.AlbumID">@item.Title</option>
                                        }
                                    }
                                </select>
                            </div>
                            <!-- /.input-medium -->
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a id="linkCreatePhoto" href='@Url.Action("CreatePhoto", "AdminPhoto", new { AlbumID = Request["AlbumID"] })' class="btn btn-danger" rel="tooltip" title="Tải ảnh">
                                <i class="fa fa-cloud-upload"></i>Tải ảnh
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Ảnh
                </h3>
            </div>
            <div class="box-content nopadding">
                <table id="tablePhoto" class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="null,select,text,text,null,daterange,text,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th class='with-checkbox'>
                                <input type="checkbox" name="check_all" class="dataTable-checkall">
                            </th>
                            <th>Tên Album</th>
                            <th>Tiêu Đề</th>
                            <th>Mô Tả</th>
                            <th>Ảnh</th>
                            <th class='hidden-1024'>Ngày Tạo</th>
                            <th>Người Tạo</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr id="@Model[i].PhotoID">
                                    <td class="with-checkbox">
                                        <input type="checkbox" name="check" value="@Model[i].PhotoID">
                                    </td>
                                    <td>@(apcrshr_site.Helper.AlbumHelper.GetAlbumName(Model[i].AlbumID))</td>
                                    <td>
                                        @Model[i].Title
                                    </td>
                                    @if (!string.IsNullOrEmpty(Model[i].Description))
                                    {
                                        <td>@(Model[i].Description.Length > 50 ? Model[i].Description.Substring(0, 50) : Model[i].Description)</td>
                                    }
                                    else
                                    {
                                        <td>@Model[i].Description</td>
                                    }
                                    <td>
                                        <img class="thumbnail" src="@Model[i].ImageURL" style="width: 200px; height: 150px;">
                                    </td>
                                    <td class='hidden-1024'>@Model[i].CreatedDate.ToShortDateString()</td>
                                    <td>@apcrshr_site.Helper.UserHelper.GetAdminName(Model[i].CreatedBy)</td>
                                    <td class='hidden-480'>
                                        <a href='@Url.Action("UpdatePhoto", "AdminPhoto", new { photoID = Model[i].PhotoID })' class="btn" rel="tooltip" title="Sửa">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn" rel="tooltip" title="Xóa" onclick="return deletePhoto('@Model[i].PhotoID')">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        selectAlbum($("#selectAlbum"));
    });
    function selectAlbum(select) {
        var albumID = $(select).find(":selected").val();
        var href = $("#linkCreatePhoto").attr("href");
        if (href.lastIndexOf("AlbumID") > 0) {
            href = href.substring(0, href.lastIndexOf("?"));
        }
        var href = href + "?AlbumID=" + albumID;
        $("#linkCreatePhoto").attr("href", href);
    }

    function deletePhoto(PhotoID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeletePhoto", "AdminPhoto")',
                    data: { PhotoID: PhotoID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            $('#' + PhotoID + '').remove();
                            $('table#tablePhoto tr#' + PhotoID + '').remove();
                            bootbox.hideAll();
                        } else {
                            bootbox.lert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>
