@model Site.Core.DataModel.Model.AdminModel
@{
    ViewBag.Title = "Thêm Mới Quản Trị Viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">

        <!--Alert-->
        @if (ViewBag.Message != null)
        {
            Site.Core.DataModel.Response.BaseResponse responseMsg = (Site.Core.DataModel.Response.BaseResponse)ViewBag.Message;
            <br />
            <div class="alert @(responseMsg.ErrorCode == (int)Site.Core.DataModel.Enum.ErrorCode.None ? " alert-info" : " alert-danger")"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @responseMsg.Message</div>
        }
        
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3>
                    <i class="fa fa-edit"></i>Thêm Mới Quản Trị Viên
                </h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("CreateAdmin", "Admin", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "frmCreateAdmin" }))
                {
                    
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Họ</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.FirstName, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tên</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.LastName, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tên Đăng Nhập</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.UserName, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" }
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Mật Khẩu</label>
                        <div class="col-sm-10">
                            @Html.PasswordFor(Model => Model.Password, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "id", "Password" },
                                { "data-rule-required", "true" },
                                {"data-rule-minlength", "6"}
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Gõ Lại Mật Khẩu</label>
                        <div class="col-sm-10">
                            @Html.PasswordFor(Model => Model.ConfirmPassword, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" },
                                {"data-rule-equalto", "#Password"}
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Email</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.Email, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" },
                                {"data-rule-email", "true"}
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Ngày Sinh</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.BirthDate, new Dictionary<string, object> {
                                { "class", "form-control form-control mask_date" },
                                { "data-rule-required", "true" },
                                {"data-rule-date", "true"}
                            })
                            <i>(yyyy/mm/dd)</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Điện Thoại</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.Phone, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "data-rule-required", "true" },
                                {"data-rule-number", "true"},
                                {"data-rule-minlength", "10"}
                            })
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Trạng Thái</label>
                        <div class="col-sm-10">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="radio" name="Locked" id="Locked" class='icheck-me' data-skin="square" data-color="blue" value="false" checked>
                                    <label class='inline' for="Locked">Kích Hoạt</label>
                                </div>
                                <div class="check-line">
                                    <input type="radio" name="Locked" id="Locked" class='icheck-me' data-skin="square" data-color="blue" value="true">
                                    <label class='inline' for="Locked">Khóa</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Lưu Thông Tin</button>
                        <button type="reset" class="btn">Reset</button>
                        <a href='@Url.Action("AdminList")' class="btn btn-info">Hủy Bỏ</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#BirthDate').datepicker({ dateFormat: 'yyyy/mm/dd' }).datepicker("setDate", new Date());
    $("#frmCreateAdmin").validate();
</script>
