@model IList<Site.Core.DataModel.Model.AdminModel>
@{
    ViewBag.Title = "Quản Trị Viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <br />
            <a href='@Url.Action("AddNewAdmin", "Admin")' class="btn btn-blue">Thêm Mới</a>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Quản Trị Viên
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="null,text,text,text,daterange,text,null,null,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th class='with-checkbox'>
                                <input type="checkbox" name="check_all" class="dataTable-checkall">
                            </th>
                            <th>Họ</th>
                            <th>Tên</th>
                            <th>Email</th>
                            <th class='hidden-1024'>Ngày Sinh</th>
                            <th>Số Điện Thoại</th>
                            <th>Trạng Thái</th>
                            <th>Tên Đăng Nhập</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id="@Model[i].AdminID">
                                <td class="with-checkbox">
                                    <input type="checkbox" name="check" value="@Model[i].AdminID">
                                </td>
                                <td>@Model[i].FirstName</td>
                                <td>@Model[i].LastName</td>
                                <td>@Model[i].Email</td>
                                <td class='hidden-1024'>@Model[i].BirthDate.ToShortDateString()</td>
                                <td>@Model[i].Phone</td>
                                <td>@(Model[i].Locked ? "Đã Khóa" : "Đã Kích Hoạt")</td>
                                <td>@Model[i].UserName</td>
                            <td class='hidden-480'>
                                <a href='@Url.Action("UpdateAdmin", "Admin", new { adminID = Model[i].AdminID })' class="btn" rel="tooltip" title="Sửa">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="#" class="btn" rel="tooltip" title="Xóa" onclick="return deleteAdmin('@Model[i].AdminID')">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteAdmin(adminID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteAdmin", "Admin")',
                    data: { adminID: adminID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            $('#' + adminID + '').remove();
                            bootbox.hideAll();
                        } else {
                            bootbox.alert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>