@model IList<Site.Core.DataModel.Model.AlbumModel>
@{
    ViewBag.Title = "Album ảnh";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-title">
                <h3>
                    <i class="fa fa-picture"></i>
                    Album ảnh
                </h3>
            </div>
            <div class="box-content nopadding">
                <div class="highlight-toolbar">
                    <div class="pull-left">
                        
                    </div>
                    <div class="pull-right">
                        <div class="btn-toolbar">
                            <div class="btn-group">
                                <a href='@Url.Action("CreateAlbum", "AdminAlbum")' class="btn btn-blue" rel="tooltip" title="Thêm mới album">
                                    <i class="fa fa-cloud-upload"></i>Thêm mới
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="gallery">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <li>
                            <a href="#">
                                @if (Model[i].Photos == null || Model[i].Photos.Count == 0)
                                {
                                    <img alt="@Model[i].Title" style="width:185px; height:185px;" src="/Content/images/Images-icon.png" />
                                }
                                else
                                {
                                    <img alt="@Model[i].Title" style="width:185px; height:185px;" src="@Model[i].Photos[0].ImageURL" />
                                }
                            </a>
                            <div class="extras">
                                <div class="extras-inner">
                                    <a href='@Url.Action("UpdateAlbum", "AdminAlbum", new { AlbumID = Model[i].AlbumID })'>
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#" onclick="return deleteAlbum('@Model[i].AlbumID')" id="link-@Model[i].AlbumID" class='del-gallery-pic'>
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteAlbum(AlbumID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteAlbum", "AdminAlbum")',
                    data: { AlbumID: AlbumID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            var $el = $("#link-" + AlbumID);
                            var $parent = $el.parents("li");
                            $parent.fadeOut(400, function () {
                                $parent.remove();
                            });

                            bootbox.hideAll();
                        } else {
                            bootbox.alert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>
