@using apcrshr_site.Helper
@model Site.Core.DataModel.Response.FindAllItemReponse<Site.Core.DataModel.Model.AlbumModel>
@{
    
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h4 class="classic-title"><span>@ViewBag.Title</span></h4>

    @if (Model.Items != null && Model.Items.Count > 0)
    {
        for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="blog-post standard-post">
                <!-- Post Content -->
                <div class="post-content-nopadding">
                    <h2><a href="@Url.Action("Index", "Photo", new { ActionURL = Model.Items[i].ActionURL, AlbumTitle  = Model.Items[i].Title})">@Model.Items[i].Title</a></h2>
                    @(Model.Items[i].Description.Length > 260 ? Model.Items[i].Description.Substring(0, 260) + "..." : Model.Items[i].Description)
                    <br />
                    <ul class="post-meta">
                        <li>@Model.Items[i].CreatedDate.ToString("dddd, d MMMM, yyyy", new System.Globalization.CultureInfo(System.Threading.Thread.CurrentThread.CurrentUICulture.Name))</li>
                        <li><a href="#">Posted by</a>, <a href="#">@apcrshr_site.Helper.UserHelper.GetAdminName(Model.Items[i].CreatedBy)</a></li>
                    </ul>
                </div>
            </div>
        }
    }

    <!-- Start Pagination -->
    <div id="pagination">
        @Html.PagingUtil("Index", "Album", Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("ActionURL")).SingleOrDefault().Value.ToString(), Model.Count, apcrshr_site.Constants.Constants.PAGE_SIZE,
                Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("pageIndex")).SingleOrDefault())
    </div>
    <!-- End Pagination -->

</div>




