@using apcrshr_site.Helper
@model Site.Core.DataModel.Response.FindAllItemReponse<Site.Core.DataModel.Model.AlbumModel>
@{
    ViewBag.Title = apcrshr_site.Resources.Resource.title_albumImage;
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h4 class="classic-title"><span>@apcrshr_site.Resources.Resource.title_albumImage</span></h4>

    <div class="row portfolio-page">

        <!-- Start Portfolio Items -->
        <div id="portfolio" class="portfolio-3">

            @foreach (var item in Model.Items)
            {
                 <!-- Start Portfolio Item -->
                <div class="portfolio-item drawing col-md-4">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a href='@Url.Action("Index", "Photo", new { ActionURL = item.ActionURL, AlbumTitle = item.Title })'>
                                <div class="thumb-overlay"><i class="icon-link-1"></i></div>
                                @if (item.Photos == null || item.Photos.Count == 0)
                                {
                                    <img alt="@item.Title" style="width:185px; height:185px;" src="/Content/images/Images-icon.png" />
                                }
                                else
                                {
                                    for (int i = 0; i < item.Photos.Count; i++)
                                    {
                                        if (i == 3) { break; }
                                        <img alt="@item.Photos[i].Title" class='@(i == 0 ? "under" : "over-" + i)' style="width:185px; height:185px;" src="@item.Photos[i].ImageURL" />   
                                    }
                                }
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href='@Url.Action("Index", "Photo", new { ActionURL = item.ActionURL, AlbumTitle = item.Title })'>
                                <h4>@item.Title</h4>
                            </a>
                            <a href="#" class="like-link"><i class="icon-heart-1"></i><span>@item.Photos.Count</span></a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
            }

        </div>
        <!-- End Portfolio Items -->

    </div>

    <!-- Start Pagination -->
    <div id="pagination">
        @Html.PagingUtil("Index", "Album",
             Model.Count, apcrshr_site.Constants.Constants.ALBUM_PAGE_SIZE,
            (Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("pageIndex")).SingleOrDefault().Value == null ?
            Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("ActionURL")).SingleOrDefault() :
            Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("pageIndex")).SingleOrDefault()))
    </div>
    <!-- End Pagination -->
</div>




