@using apcrshr_site.Helper
@model Site.Core.DataModel.Model.MainScholarshipModel
@{
    ViewBag.Title = "Main Sholarship Registration";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<!-- Tagsinput -->
<link rel="stylesheet" href="~/Areas/Administrator/css/plugins/tagsinput/jquery.tagsinput.css">
<!-- TagsInput -->
<script src="~/Areas/Administrator/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<div class="col-sm-9">
    <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="fa fa-magic"></i>
                Main sholarship registration form
            </h3>
        </div>
        <div class="box-content">
            @using (Ajax.BeginForm("SaveMainSholarship", "Registration", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnFailure = "OnMainSholarshipFailure",
                    OnSuccess = "OnMainSholarshipSuccess",
                    OnBegin = "OnBeginSubmit"
                }, new { @class = "form-horizontal form-validate", id = "frmMainRegistration" }))
            {
                
                @Html.HiddenFor(Model => Model.RegistrationNumber)
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Registration number <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.RegistrationNumber, new { @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Abstract submission number <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="SubmissionNumber" id="SubmissionNumber" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">You have to register and submit abstract before apply for a scholarship. Once you have finished registration form and abstract submission form, the registration number and the abstract submission number will be sent to your email. If you have not registered and submit abstract, please do it <a href='@Url.Action("RegistrationForm", "Registration")'>HERE</a>.</p>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-check"></i>
                        SCHOLARSHIP PACKAGE
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Please select the scholarship package that you want to apply? <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="radio" id="ScholarshipPackage" name="ScholarshipPackage" value="Full scholarship: Registration fee, travel, hotel, perdiem" data-rule-required="true">&nbsp;Full scholarship: Registration fee, travel, hotel, perdiem<br />
                                <input type="radio" id="ScholarshipPackage" name="ScholarshipPackage" value="Partial scholarship 1: Registration fee, travel" data-rule-required="true">&nbsp;Partial scholarship 1: Registration fee, travel<br />
                                <input type="radio" id="ScholarshipPackage" name="ScholarshipPackage" value="Partial scholarship 2: Registration fee, hotel" data-rule-required="true">&nbsp;Partial scholarship 2: Registration fee, hotel<br />
                                <input type="radio" id="ScholarshipPackage" name="ScholarshipPackage" value="Partial scholarship 3: Registration fee" data-rule-required="true">&nbsp;Partial scholarship 3: Registration fee
                            </label>
                        </div>
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-check"></i>
                        WORKING EXPERIENCE
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Current organization (Full name) <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="Organization" id="Organization" maxlength="50" class="form-control" data-rule-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Position <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="Position" id="Position" maxlength="99" class="form-control" data-rule-required="true" data-rule-maxlength="99">
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Duration of work (number of year) <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <input type="text" name="DurationOfWork" id="DurationOfWork" maxlength="3" class="form-control" data-rule-required="true" data-rule-number="true">
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Responsibility relating to Reproductive and Sexual Health and Rights <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <textarea name="Responsibility" id="Responsibility" rows="3" maxlength="1000" class="form-control" data-rule-required="true"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Why should we provide you a scholarship? <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <textarea name="ReasonScholarship" id="ReasonScholarship" rows="7" maxlength="1000" class="form-control" data-rule-required="true"></textarea>
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-check"></i>
                        ABSTRACT SUBMISSION
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Have you submitted at least 1 abstract for the conference <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label>
                                <input type="radio" id="HasSubmitted" name="HasSubmitted" value="true" data-rule-required="true">&nbsp;Yes&nbsp;
                                <input type="radio" id="HasSubmitted" name="HasSubmitted" value="false" data-rule-required="true">&nbsp;No
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Title of abstract submitted (please tab to add more)</label>
                    <div class="col-sm-9">
                        <input type="text" name="SubmissionTitles" id="SubmissionTitles" maxlength="999" class="tagsinput form-control" data-rule-maxlength="999" data-rule-required="true" value="">
                    </div>
                </div>
                <div class="form-actions col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href='@Url.Action("ViewProfile", "User")' class="btn btn-info">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    // tag-input
    if ($(".tagsinput").length > 0) {
        $('.tagsinput').each(function (e) {
            $(this).tagsInput({
                width: 'auto',
                height: 'auto',
                defaultText: 'add a title'
            });
        });
    }
</script>

<script type="text/javascript">

    function OnBeginSubmit() {
        $.blockUI({ message: $('#spinner') });
    }

    function OnMainSholarshipFailure() {
        $.unblockUI();
    }

    function OnMainSholarshipSuccess(response) {
        //Timeout
        if (response.ErrorCode == 2) {
            window.location = '@Url.Action("Login", "User")';
        }
        if (response.ErrorCode == "1") {
            $.unblockUI();
            bootbox.alert(response.Message, function () {
                bootbox.hideAll();
            });
        } else if (response.ErrorCode == "0") {
            bootbox.alert("Thank you for your scholarship application form, we will review and give you feedback.", function () {
                window.location = '@Url.Action("ViewProfile", "User")';
            });
        }
    }
</script>
