@using apcrshr_site.Helper
@model Site.Core.DataModel.Model.YouthScholarshipModel
@{
    ViewBag.Title = "Youth Sholarship Registration";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!-- Tagsinput -->
<link rel="stylesheet" href="~/Areas/Administrator/css/plugins/tagsinput/jquery.tagsinput.css">
<!-- TagsInput -->
<script src="~/Areas/Administrator/js/plugins/tagsinput/jquery.tagsinput.min.js"></script>
<!-- Custom file upload -->
<script src="~/Areas/Administrator/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
<div class="col-sm-9">
    <div class="box box-color box-bordered">
        <div class="box-title">
            <h3>
                <i class="fa fa-cog"></i>
                Youth sholarship registration form
            </h3>
        </div>
        <div class="box-content">
            @using (Ajax.BeginForm("SaveYouthSholarship", "Registration", new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnFailure = "OnYouthSholarshipFailure",
                    OnSuccess = "OnYouthSholarshipSuccess",
                    OnBegin = "OnBeginSubmit"
                }, new { @class = "form-horizontal form-validate", id = "frmYouthRegistration" }))
            {
                
                @Html.HiddenFor(Model => Model.RegistrationNumber)
                @Html.HiddenFor(Model => Model.UserID)
                @Html.HiddenFor(Model => Model.YouthScholarshipID, new { @id = "YouthScholarshipID" })
                <div class="form-group">
                    <label for="RegistrationNumber" class="control-label col-sm-3">Registration number <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.RegistrationNumber, new { @id = "RegistrationNumber", @disabled = "disabled", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">You have to register and submit abstract before apply for a scholarship. Once you have finished registration form and abstract submission form, the registration number and the abstract submission number will be sent to your email. If you have not registered and submit abstract, please do it <a href='@Url.Action("RegistrationForm", "Registration")'>HERE</a>.</p>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        WORKING EXPERIENCE
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <a href="javascript:void(0);" id="lnkAddExperience" class="btn btn-primary" rel="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i>Add
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Organization</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.ExperienceTitles, new Dictionary<string, object> {
                                { "class", "tagsinput form-control" },
                                { "id", "ExperienceTitles" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        EDUCATION
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">Please list your education history, starting with the most current.</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <a href="javascript:void(0);" id="lnkAddEducation" class="btn btn-primary" rel="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i>Add
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Degree / Diplomas</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.EducationTitles, new Dictionary<string, object> {
                                { "class", "tagsinput form-control" },
                                { "id", "EducationTitles" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        ADDITIONAL TRAINING
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <a href="javascript:void(0);" id="lnkAddTraining" class="btn btn-primary" rel="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i>Add
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Name of course</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.AdditionalTrainingTitles, new Dictionary<string, object> {
                                { "class", "tagsinput form-control" },
                                { "id", "AdditionalTrainingTitles" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        LEARSHIP EXPERIENCE
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">Please list up to three experiences you had in an organization, volunteer experiences, working group, your community or at an event, where you demonstrated leadership experience.</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <a href="javascript:void(0);" id="lnkAddLeaderShip" class="btn btn-primary" rel="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i>Add
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Organization / Group</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.LeaderShipTitles, new Dictionary<string, object> {
                                { "class", "tagsinput form-control" },
                                { "id", "LeaderShipTitles" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        PUBLICATION
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">Please list any kind of publication you have authored or co-authored, in forms of paper, books or articles.</p>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <a href="javascript:void(0);" id="lnkAddPublication" class="btn btn-primary" rel="tooltip" title="" data-original-title="Add">
                            <i class="fa fa-plus"></i>Add
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Publication titles</label>
                    <div class="col-sm-9">
                        @Html.TextBoxFor(Model => Model.PublicationTitles, new Dictionary<string, object> {
                                { "class", "tagsinput form-control" },
                                { "id", "PublicationTitles" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        MOTIVATION
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <p style="padding: 10px; text-align: justify;">Please explain your motivation to participate in this conference in maximum 2 pages. Your answer should cover all questions below.</p>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">List 3 problems that young people in your country are facing now <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(Model => Model.MotivationIssue, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "rows", "7" },
                                { "maxlength", "300" },
                                { "id", "MotivationIssue" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Have you participated in any activities/projects to solve these problems? How could you involve young people in your country to participate in youth activities? <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(Model => Model.MotivationResolving, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "rows", "7" },
                                { "maxlength", "300" },
                                { "id", "MotivationResolving" },
                                { "data-rule-required", "true" }
                            })
                        <i>Please share the link/ video of your projects/activities.</i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">What will you contribute to this conference? Why we should select you as youth scholars of this conference? <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(Model => Model.MotivationReason, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "rows", "7" },
                                { "maxlength", "300" },
                                { "id", "MotivationReason" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="box-title" style="margin-left: -20px; margin-right: -20px;">
                    <h3>
                        <i class="fa fa-cog"></i>
                        MAKE A PLAN
                    </h3>
                </div>
                <br />
                <div class="form-group">
                    <label for="anotherelem" class="control-label col-sm-3">Present your plan after taking part in this conference <span class="validation-span-required">(*)</span></label>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(Model => Model.PlanMaking, new Dictionary<string, object> {
                                { "class", "form-control" },
                                { "rows", "7" },
                                { "maxlength", "300" },
                                { "id", "PlanMaking" },
                                { "data-rule-required", "true" }
                            })
                    </div>
                </div>
                <div class="form-group">
                        <label for="attachment" class="control-label col-sm-3">
                            Attachment
                            <small>(You can describe your idea and plan by power point, video/clip, pictures, etc)</small>
                        </label>
                        <div class="col-sm-9">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group">
                                    <div class="form-control" data-trigger="fileinput">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                        <span class="fileinput-filename">@(!string.IsNullOrEmpty(this.Model.UploadFile) ? this.Model.UploadFile.Substring(this.Model.UploadFile.LastIndexOf("/") + 1) : "")</span>
                                    </div>
                                    <span class="input-group-addon btn btn-default btn-file">
                                        <span class="fileinput-new">Browse</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="upload" id="upload">
                                    </span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="form-actions col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                    <a href='@Url.Action("ViewProfile", "User")' class="btn btn-info">Cancel</a>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    // tag-input
    if ($(".tagsinput").length > 0) {
        $('.tagsinput').each(function (e) {
            $(this).tagsInput({
                width: 'auto',
                height: 'auto',
                defaultText: 'add a title'
            });
        });
    }

    //Upload
    $('#upload').on('change', function (e) {
        var files = e.target.files;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                $.blockUI({ message: $('#spinner') });
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                $.ajax({
                    type: "POST",
                    url: '/Registration/UploadScholarshipFile?YouthScholarshipID=' + $("#YouthScholarshipID").val() + '&RegistrationNumber=' + $("#RegistrationNumber").val(),
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (result) {
                        console.log(result);
                        $.unblockUI();
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                        $.unblockUI();
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });
</script>

<script type="text/javascript">

    function OnBeginSubmit() {
        if (!$("#frmYouthRegistration").valid()) {
            return false;
        }
        $.blockUI({ message: $('#spinner') });
    }

    function OnYouthSholarshipFailure() {
        $.unblockUI();
    }

    function OnYouthSholarshipSuccess(response) {
        //Timeout
        if (response.ErrorCode == 2) {
            window.location = '@Url.Action("Login", "User")';
        }
        if (response.ErrorCode == "1") {
            $.unblockUI();
            bootbox.alert(response.Message, function () {
                bootbox.hideAll();
            });
        } else if (response.ErrorCode == "0") {
            $.unblockUI();
            if (!response.IsUpdate) {
                bootbox.alert("Thank you for your scholarship application form, we will review and give you feedback.", function () {
                    window.location = '@Url.Action("ViewProfile", "User")';
                });
            } else {
                bootbox.alert(response.Message, function () {
                    bootbox.hideAll();
                });
            }
        }
    }
</script>

<!--Experiences-->
<script type="text/javascript">
    var experienceDialog = [
            '<form method="POST" action="@Url.Action("SaveExperience", "Registration")" id="frmExperience" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Organization (Full name) <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Organization" id="Organization" maxlength="50" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Position <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Position" id="Position" maxlength="50" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Working from <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="WorkingStart" id="WorkingStart" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Working to <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="WorkingEnd" id="WorkingEnd" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Duties <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<textarea name="Duties" id="Duties" rows="3" maxlength="150" class="form-control" data-rule-required="true"></textarea>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    function validateExperience() {
        var organization = $("#Organization").val();
        var position = $("#Position").val();
        var workingStart = $("#WorkingStart").val();
        var workingEnd = $("#WorkingEnd").val();
        var duties = $("#Duties").val();

        if (organization == null || organization.length == 0) {
            bootbox.alert("Please input your organization!", function () {
                setTimeout(function () {
                    $("#Organization").focus();
                }, 1);
            });
            return false;
        }
        if (position == null || position.length == 0) {
            bootbox.alert("Please input your position!", function () {
                setTimeout(function () {
                    $("#Position").focus();
                }, 1);
            });
            return false;
        }
        if (workingStart == null) {
            bootbox.alert("Please input your working start!", function () {
                setTimeout(function () {
                    $("#WorkingStart").focus();
                }, 1);
            });
            return false;
        }
        if (workingEnd == null) {
            bootbox.alert("Please input your working to!", function () {
                setTimeout(function () {
                    $("#WorkingEnd").focus();
                }, 1);
            });
            return false;
        }
        if (duties == null || duties.length == 0) {
            bootbox.alert("Please input your duties!", function () {
                setTimeout(function () {
                    $("#Duties").focus();
                }, 1);
            });
            return false;
        }
        return true;
    }

    $("#lnkAddExperience").click(function () {
        bootbox.dialog({
            message: experienceDialog,
            title: "Add working experience",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        //Validate
                        if (!validateExperience()) {
                            return false;
                        }
                        
                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("RegistrationNumber", $("#RegistrationNumber").val());
                        formData.append("MotivationIssue", $("#MotivationIssue").val());
                        formData.append("MotivationResolving", $("#MotivationResolving").val());
                        formData.append("MotivationReason", $("#MotivationReason").val());
                        formData.append("PlanMaking", $("#PlanMaking").val());
                        formData.append("YouthScholarshipID", $("#YouthScholarshipID").val());
                        formData.append("Organization", $("#Organization").val());
                        formData.append("Position", $("#Position").val());
                        formData.append("WorkingStart", $("#WorkingStart").val());
                        formData.append("WorkingEnd", $("#WorkingEnd").val());
                        formData.append("Duties", $("#Duties").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveExperience", "Registration")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#YouthScholarshipID").val(response.YouthScholarshipID);
                                    $('#ExperienceTitles').addTag(response.Title);
                                    bootbox.hideAll();
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
        $('#WorkingStart').datepicker().datepicker("setDate", new Date());
        $('#WorkingEnd').datepicker().datepicker("setDate", new Date());
    });
</script>

<!--Educations-->
<script type="text/javascript">
    var educationDialog = [
            '<form method="POST" action="@Url.Action("SaveEducation", "Registration")" id="frmEducation" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Degree/Diplomas obtained <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Degree" id="Degree" maxlength="30" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Country <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<select name="Country" id="Country" class="form-control" data-rule-required="true">',
                                    '<option value="">-- Chose one --</option>',
                                    '<option value="Afghanistan">Afghanistan</option>',
                                    '<option value="Albania">Albania</option>',
                                    '<option value="Algeria">Algeria</option>',
                                    '<option value="Angola">Angola</option>',
                                    '<option value="Argentina">Argentina</option>',
                                    '<option value="Armenia">Armenia</option>',
                                    '<option value="Australia">Australia</option>',
                                    '<option value="Azerbaijan">Azerbaijan</option>',
                                    '<option value="Bangladesh">Bangladesh</option>',
                                    '<option value="Bolivia">Bolivia</option>',
                                    '<option value="Brazil">Brazil</option>',
                                    '<option value="Brunei">Brunei</option>',
                                    '<option value="Bulgaria">Bulgaria</option>',
                                    '<option value="Cameroon">Cameroon</option>',
                                    '<option value="Canada">Canada</option>',
                                    '<option value="Chile">Chile</option>',
                                    '<option value="China">China</option>',
                                    '<option value="Colombia">Colombia</option>',
                                    '<option value="Congo">Congo</option>',
                                    '<option value="Costa Rica">Costa Rica</option>',
                                    '<option value="Croatia">Croatia</option>',
                                    '<option value="Cuba">Cuba</option>',
                                    '<option value="Czech">Czech</option>',
                                    '<option value="Dominica">Dominica</option>',
                                    '<option value="Ecuador">Ecuador</option>',
                                    '<option value="Egypt">Egypt</option>',
                                    '<option value="France">France</option>',
                                    '<option value="Georgia">Georgia</option>',
                                    '<option value="Germany">Germany</option>',
                                    '<option value="Ghana">Ghana</option>',
                                    '<option value="Greece">Greece</option>',
                                    '<option value="Haiti">Haiti</option>',
                                    '<option value="Hungary">Hungary</option>',
                                    '<option value="Iceland">Iceland</option>',
                                    '<option value="India">India</option>',
                                    '<option value="Indonesia">Indonesia</option>',
                                    '<option value="Iran">Iran</option>',
                                    '<option value="Ireland">Ireland</option>',
                                    '<option value="Israel">Israel</option>',
                                    '<option value="Italy">Italy</option>',
                                    '<option value="Jamaica">Jamaica</option>',
                                    '<option value="Japan">Japan</option>',
                                    '<option value="Jordan">Jordan</option>',
                                    '<option value="Kazakhstan">Kazakhstan</option>',
                                    '<option value="Kuwait">Kuwait</option>',
                                    '<option value="Kyrgyzstan">Kyrgyzstan</option>',
                                    '<option value="Laos">Laos</option>',
                                    '<option value="Latvia">Latvia</option>',
                                    '<option value="Lebanon">Lebanon</option>',
                                    '<option value="Liberia">Liberia</option>',
                                    '<option value="Libya">Libya</option>',
                                    '<option value="Macedonia">Macedonia</option>',
                                    '<option value="Malaysia">Malaysia</option>',
                                    '<option value="Mali">Mali</option>',
                                    '<option value="Mexico">Mexico</option>',
                                    '<option value="Myanmar">Myanmar</option>',
                                    '<option value="Nepal">Nepal</option>',
                                    '<option value="New Zealand">New Zealand</option>',
                                    '<option value="Nigeria">Nigeria</option>',
                                    '<option value="North Korea">North Korea</option>',
                                    '<option value="Pakistan">Pakistan</option>',
                                    '<option value="Palestine">Palestine</option>',
                                    '<option value="Paraguay">Paraguay</option>',
                                    '<option value="Peru">Peru</option>',
                                    '<option value="Philippines">Philippines</option>',
                                    '<option value="Poland">Poland</option>',
                                    '<option value="Portugal">Portugal</option>',
                                    '<option value="Romania">Romania</option>',
                                    '<option value="Russia">Russia</option>',
                                    '<option value="Saudi Arabia">Saudi Arabia</option>',
                                    '<option value="Senegal">Senegal</option>',
                                    '<option value="Serbia">Serbia</option>',
                                    '<option value="Singapore">Singapore</option>',
                                    '<option value="Slovenia">Slovenia</option>',
                                    '<option value="South Africa">South Africa</option>',
                                    '<option value="South Korea">South Korea</option>',
                                    '<option value="Spain">Spain</option>',
                                    '<option value="Sudan">Sudan</option>',
                                    '<option value="Sweden">Sweden</option>',
                                    '<option value="Switzerland">Switzerland</option>',
                                    '<option value="Syria">Syria</option>',
                                    '<option value="Taiwan">Taiwan</option>',
                                    '<option value="Tajikistan">Tajikistan</option>',
                                    '<option value="Thailand">Thailand</option>',
                                    '<option value="Tunisia">Tunisia</option>',
                                    '<option value="Turkey">Turkey</option>',
                                    '<option value="Ukraine">Ukraine</option>',
                                    '<option value="United Kingdom">United Kingdom</option>',
                                    '<option value="United States">United States</option>',
                                    '<option value="Uruguay">Uruguay</option>',
                                    '<option value="Venezuela">Venezuela</option>',
                                    '<option value="Vietnam">Vietnam</option>',
                                    '<option value="Yemen">Yemen</option>',
                                    '<option value="Zambia">Zambia</option>',
                                    '<option value="Zimbabwe">Zimbabwe</option>',
                                '</select>',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Attended from <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="EducationStart" id="EducationStart" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">To <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="EducationEnd" id="EducationEnd" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Main course of study <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="MainCourseStudy" id="MainCourseStudy" maxlength="20" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Type of training <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<select id="TypeOfTraining" name="TypeOfTraining">',
                                    '<option value="">-- Chose one --</option>',
                                    '<option value="Onsite">Onsite</option>',
                                    '<option value="Online">Online</option>',
                                    '<option value="Remote">Remote</option>',
                                '</select>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    function validateEducation() {
        var degree = $("#Degree").val();
        var country = $("#Country").val();
        var educationStart = $("#EducationStart").val();
        var educationEnd = $("#EducationEnd").val();
        var mainCourseStudy = $("#MainCourseStudy").val();
        var typeOfTraining = $("#TypeOfTraining").val();

        if (degree == null || degree.length == 0) {
            bootbox.alert("Please input your degree!", function () {
                setTimeout(function () {
                    $("#Degree").focus();
                }, 1);
            });
            return false;
        }
        if (country == null || country.length == 0) {
            bootbox.alert("Please select your country!", function () {
                setTimeout(function () {
                    $("#Country").focus();
                }, 1);
            });
            return false;
        }
        if (educationStart == null) {
            bootbox.alert("Please input your attended from!", function () {
                setTimeout(function () {
                    $("#EducationStart").focus();
                }, 1);
            });
            return false;
        }
        if (educationEnd == null) {
            bootbox.alert("Please input your attended to!", function () {
                setTimeout(function () {
                    $("#EducationEnd").focus();
                }, 1);
            });
            return false;
        }
        if (mainCourseStudy == null || mainCourseStudy.length == 0) {
            bootbox.alert("Please input your main course of study!", function () {
                setTimeout(function () {
                    $("#MainCourseStudy").focus();
                }, 1);
            });
            return false;
        }
        if (typeOfTraining == null || typeOfTraining.length == 0) {
            bootbox.alert("Please select type of training!", function () {
                setTimeout(function () {
                    $("#TypeOfTraining").focus();
                }, 1);
            });
            return false;
        }
        return true;
    }

    $("#lnkAddEducation").click(function () {
        bootbox.dialog({
            message: educationDialog,
            title: "Add education",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        //Validate
                        if (!validateEducation()) {
                            return false;
                        }

                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("RegistrationNumber", $("#RegistrationNumber").val());
                        formData.append("MotivationIssue", $("#MotivationIssue").val());
                        formData.append("MotivationResolving", $("#MotivationResolving").val());
                        formData.append("MotivationReason", $("#MotivationReason").val());
                        formData.append("PlanMaking", $("#PlanMaking").val());
                        formData.append("YouthScholarshipID", $("#YouthScholarshipID").val());
                        //Education
                        formData.append("Degree", $("#Degree").val());
                        formData.append("Country", $("#Country").val());
                        formData.append("EducationStart", $("#EducationStart").val());
                        formData.append("EducationEnd", $("#EducationEnd").val());
                        formData.append("MainCourseStudy", $("#MainCourseStudy").val());
                        formData.append("TypeOfTraining", $("#TypeOfTraining").find(":selected").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveEducation", "Registration")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#YouthScholarshipID").val(response.YouthScholarshipID);
                                    $('#EducationTitles').addTag(response.Title);
                                    bootbox.hideAll();
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
        $('#EducationStart').datepicker().datepicker("setDate", new Date());
        $('#EducationEnd').datepicker().datepicker("setDate", new Date());
    });
</script>

<!--Additional training-->
<script type="text/javascript">
    var trainingDialog = [
            '<form method="POST" action="@Url.Action("SaveTraining", "Registration")" id="frmTraining" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Name of course <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="NameOfCourse" id="NameOfCourse" maxlength="30" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Country <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<select name="Country" id="Country" class="form-control" data-rule-required="true">',
                                    '<option value="">-- Chose one --</option>',
                                    '<option value="Afghanistan">Afghanistan</option>',
                                    '<option value="Albania">Albania</option>',
                                    '<option value="Algeria">Algeria</option>',
                                    '<option value="Angola">Angola</option>',
                                    '<option value="Argentina">Argentina</option>',
                                    '<option value="Armenia">Armenia</option>',
                                    '<option value="Australia">Australia</option>',
                                    '<option value="Azerbaijan">Azerbaijan</option>',
                                    '<option value="Bangladesh">Bangladesh</option>',
                                    '<option value="Bolivia">Bolivia</option>',
                                    '<option value="Brazil">Brazil</option>',
                                    '<option value="Brunei">Brunei</option>',
                                    '<option value="Bulgaria">Bulgaria</option>',
                                    '<option value="Cameroon">Cameroon</option>',
                                    '<option value="Canada">Canada</option>',
                                    '<option value="Chile">Chile</option>',
                                    '<option value="China">China</option>',
                                    '<option value="Colombia">Colombia</option>',
                                    '<option value="Congo">Congo</option>',
                                    '<option value="Costa Rica">Costa Rica</option>',
                                    '<option value="Croatia">Croatia</option>',
                                    '<option value="Cuba">Cuba</option>',
                                    '<option value="Czech">Czech</option>',
                                    '<option value="Dominica">Dominica</option>',
                                    '<option value="Ecuador">Ecuador</option>',
                                    '<option value="Egypt">Egypt</option>',
                                    '<option value="France">France</option>',
                                    '<option value="Georgia">Georgia</option>',
                                    '<option value="Germany">Germany</option>',
                                    '<option value="Ghana">Ghana</option>',
                                    '<option value="Greece">Greece</option>',
                                    '<option value="Haiti">Haiti</option>',
                                    '<option value="Hungary">Hungary</option>',
                                    '<option value="Iceland">Iceland</option>',
                                    '<option value="India">India</option>',
                                    '<option value="Indonesia">Indonesia</option>',
                                    '<option value="Iran">Iran</option>',
                                    '<option value="Ireland">Ireland</option>',
                                    '<option value="Israel">Israel</option>',
                                    '<option value="Italy">Italy</option>',
                                    '<option value="Jamaica">Jamaica</option>',
                                    '<option value="Japan">Japan</option>',
                                    '<option value="Jordan">Jordan</option>',
                                    '<option value="Kazakhstan">Kazakhstan</option>',
                                    '<option value="Kuwait">Kuwait</option>',
                                    '<option value="Kyrgyzstan">Kyrgyzstan</option>',
                                    '<option value="Laos">Laos</option>',
                                    '<option value="Latvia">Latvia</option>',
                                    '<option value="Lebanon">Lebanon</option>',
                                    '<option value="Liberia">Liberia</option>',
                                    '<option value="Libya">Libya</option>',
                                    '<option value="Macedonia">Macedonia</option>',
                                    '<option value="Malaysia">Malaysia</option>',
                                    '<option value="Mali">Mali</option>',
                                    '<option value="Mexico">Mexico</option>',
                                    '<option value="Myanmar">Myanmar</option>',
                                    '<option value="Nepal">Nepal</option>',
                                    '<option value="New Zealand">New Zealand</option>',
                                    '<option value="Nigeria">Nigeria</option>',
                                    '<option value="North Korea">North Korea</option>',
                                    '<option value="Pakistan">Pakistan</option>',
                                    '<option value="Palestine">Palestine</option>',
                                    '<option value="Paraguay">Paraguay</option>',
                                    '<option value="Peru">Peru</option>',
                                    '<option value="Philippines">Philippines</option>',
                                    '<option value="Poland">Poland</option>',
                                    '<option value="Portugal">Portugal</option>',
                                    '<option value="Romania">Romania</option>',
                                    '<option value="Russia">Russia</option>',
                                    '<option value="Saudi Arabia">Saudi Arabia</option>',
                                    '<option value="Senegal">Senegal</option>',
                                    '<option value="Serbia">Serbia</option>',
                                    '<option value="Singapore">Singapore</option>',
                                    '<option value="Slovenia">Slovenia</option>',
                                    '<option value="South Africa">South Africa</option>',
                                    '<option value="South Korea">South Korea</option>',
                                    '<option value="Spain">Spain</option>',
                                    '<option value="Sudan">Sudan</option>',
                                    '<option value="Sweden">Sweden</option>',
                                    '<option value="Switzerland">Switzerland</option>',
                                    '<option value="Syria">Syria</option>',
                                    '<option value="Taiwan">Taiwan</option>',
                                    '<option value="Tajikistan">Tajikistan</option>',
                                    '<option value="Thailand">Thailand</option>',
                                    '<option value="Tunisia">Tunisia</option>',
                                    '<option value="Turkey">Turkey</option>',
                                    '<option value="Ukraine">Ukraine</option>',
                                    '<option value="United Kingdom">United Kingdom</option>',
                                    '<option value="United States">United States</option>',
                                    '<option value="Uruguay">Uruguay</option>',
                                    '<option value="Venezuela">Venezuela</option>',
                                    '<option value="Vietnam">Vietnam</option>',
                                    '<option value="Yemen">Yemen</option>',
                                    '<option value="Zambia">Zambia</option>',
                                    '<option value="Zimbabwe">Zimbabwe</option>',
                                '</select>',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Attended from <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="TrainingStart" id="TrainingStart" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">To <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="TrainingEnd" id="TrainingEnd" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Type of training <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<select id="TypeOfTraining" name="TypeOfTraining">',
                                    '<option value="">-- Chose one --</option>',
                                    '<option value="Onsite">Onsite</option>',
                                    '<option value="Online">Online</option>',
                                    '<option value="Remote">Remote</option>',
                                '</select>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    function validateTraining() {
        var nameOfCourse = $("#NameOfCourse").val();
        var country = $("#Country").val();
        var trainingStart = $("#TrainingStart").val();
        var trainingEnd = $("#TrainingEnd").val();
        var typeOfTraining = $("#TypeOfTraining").val();

        if (nameOfCourse == null || nameOfCourse.length == 0) {
            bootbox.alert("Please input your name of course!", function () {
                setTimeout(function () {
                    $("#NameOfCourse").focus();
                }, 1);
            });
            return false;
        }
        if (country == null || country.length == 0) {
            bootbox.alert("Please select your country!", function () {
                setTimeout(function () {
                    $("#Country").focus();
                }, 1);
            });
            return false;
        }
        if (trainingStart == null) {
            bootbox.alert("Please input your attended from!", function () {
                setTimeout(function () {
                    $("#TrainingStart").focus();
                }, 1);
            });
            return false;
        }
        if (trainingEnd == null) {
            bootbox.alert("Please input your attended to!", function () {
                setTimeout(function () {
                    $("#TrainingEnd").focus();
                }, 1);
            });
            return false;
        }
        if (typeOfTraining == null || typeOfTraining.length == 0) {
            bootbox.alert("Please select type of training!", function () {
                setTimeout(function () {
                    $("#TypeOfTraining").focus();
                }, 1);
            });
            return false;
        }
        return true;
    }

    $("#lnkAddTraining").click(function () {
        bootbox.dialog({
            message: trainingDialog,
            title: "Add training",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        //Validate
                        if (!validateTraining()) {
                            return false;
                        }

                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("RegistrationNumber", $("#RegistrationNumber").val());
                        formData.append("MotivationIssue", $("#MotivationIssue").val());
                        formData.append("MotivationResolving", $("#MotivationResolving").val());
                        formData.append("MotivationReason", $("#MotivationReason").val());
                        formData.append("PlanMaking", $("#PlanMaking").val());
                        formData.append("YouthScholarshipID", $("#YouthScholarshipID").val());
                        //Training
                        formData.append("NameOfCourse", $("#NameOfCourse").val());
                        formData.append("Country", $("#Country").val());
                        formData.append("TrainingStart", $("#TrainingStart").val());
                        formData.append("TrainingEnd", $("#TrainingEnd").val());
                        formData.append("TypeOfTraining", $("#TypeOfTraining").find(":selected").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveTraining", "Registration")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#YouthScholarshipID").val(response.YouthScholarshipID);
                                    $('#AdditionalTrainingTitles').addTag(response.Title);
                                    bootbox.hideAll();
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
        $('#TrainingStart').datepicker().datepicker("setDate", new Date());
        $('#TrainingEnd').datepicker().datepicker("setDate", new Date());
    });
</script>

<!--Leadership-->
<script type="text/javascript">
    var leaderDialog = [
            '<form method="POST" action="@Url.Action("SaveLeaderShip", "Registration")" id="frmLeaderShip" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Organization/Group <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Organization" id="Organization" maxlength="30" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Position <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Position" id="Position" maxlength="50" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Attended from <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="FromDate" id="FromDate" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">To <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="EndDate" id="EndDate" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Duties <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<textarea name="Duties" id="Duties" rows="3" maxlength="150" class="form-control" data-rule-required="true"></textarea>',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    function validateLeaderShip() {
        var organization = $("#Organization").val();
        var position = $("#Position").val();
        var fromDate = $("#FromDate").val();
        var endDate = $("#EndDate").val();
        var duties = $("#Duties").val();

        if (organization == null || organization.length == 0) {
            bootbox.alert("Please input your organization/group!", function () {
                setTimeout(function () {
                    $("#Organization").focus();
                }, 1);
            });
            return false;
        }
        if (position == null || position.length == 0) {
            bootbox.alert("Please input your position!", function () {
                setTimeout(function () {
                    $("#Position").focus();
                }, 1);
            });
            return false;
        }
        if (fromDate == null) {
            bootbox.alert("Please input from date!", function () {
                setTimeout(function () {
                    $("#FromDate").focus();
                }, 1);
            });
            return false;
        }
        if (endDate == null) {
            bootbox.alert("Please input to date!", function () {
                setTimeout(function () {
                    $("#EndDate").focus();
                }, 1);
            });
            return false;
        }
        if (duties == null || duties.length == 0) {
            bootbox.alert("Please input duties!", function () {
                setTimeout(function () {
                    $("#Duties").focus();
                }, 1);
            });
            return false;
        }
        return true;
    }

    $("#lnkAddLeaderShip").click(function () {
        bootbox.dialog({
            message: leaderDialog,
            title: "Add leadership",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        //Validate
                        if (!validateLeaderShip()) {
                            return false;
                        }

                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("RegistrationNumber", $("#RegistrationNumber").val());
                        formData.append("MotivationIssue", $("#MotivationIssue").val());
                        formData.append("MotivationResolving", $("#MotivationResolving").val());
                        formData.append("MotivationReason", $("#MotivationReason").val());
                        formData.append("PlanMaking", $("#PlanMaking").val());
                        formData.append("YouthScholarshipID", $("#YouthScholarshipID").val());
                        //LeaderShip
                        formData.append("Organization", $("#Organization").val());
                        formData.append("Position", $("#Position").val());
                        formData.append("FromDate", $("#FromDate").val());
                        formData.append("EndDate", $("#EndDate").val());
                        formData.append("Duties", $("#Duties").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SaveLeaderShip", "Registration")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#YouthScholarshipID").val(response.YouthScholarshipID);
                                    $('#LeaderShipTitles').addTag(response.Title);
                                    bootbox.hideAll();
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
        $('#FromDate').datepicker().datepicker("setDate", new Date());
        $('#EndDate').datepicker().datepicker("setDate", new Date());
    });
</script>

<!--Publication-->
<script type="text/javascript">
    var publicationDialog = [
            '<form method="POST" action="@Url.Action("SavePublication", "Registration")" id="frmPublication" class="form-horizontal form-bordered">',
                '<div class="box">',
                    '<div class="box-content nopadding">',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Title <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Title" id="Title" maxlength="100" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Source <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Source" id="Source" maxlength="50" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">Year <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="Year" id="Year" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                        '<div class="form-group">',
                            '<label for="textfield" class="control-label col-sm-2">URL <span class="validation-span-required">(*)</span></label>',
                            '<div class="col-sm-10">',
                                '<input type="text" name="URL" id="URL" maxlength="100" class="form-control" data-rule-required="true">',
                            '</div>',
                        '</div>',
                    '</div>',
                '</div>',
            '</form>'
    ].join("\n");

    function validatePublication() {
        var title = $("#Title").val();
        var source = $("#Source").val();
        var year = $("#Year").val();
        var url = $("#URL").val();

        if (title == null || title.length == 0) {
            bootbox.alert("Please input title!", function () {
                setTimeout(function () {
                    $("#Title").focus();
                }, 1);
            });
            return false;
        }
        if (source == null || source.length == 0) {
            bootbox.alert("Please input source!", function () {
                setTimeout(function () {
                    $("#Source").focus();
                }, 1);
            });
            return false;
        }
        if (year == null || year.length == 0) {
            bootbox.alert("Please input year!", function () {
                setTimeout(function () {
                    $("#Year").focus();
                }, 1);
            });
            return false;
        }
        if (isNaN(year) || year.length != 4) {
            bootbox.alert("Please input a valid year!", function () {
                setTimeout(function () {
                    $("#Year").focus();
                }, 1);
            });
            return false;
        }
        if (url == null || url.length == 0) {
            bootbox.alert("Please input url!", function () {
                setTimeout(function () {
                    $("#URL").focus();
                }, 1);
            });
            return false;
        }
        if (!appUtil.utility.validateURL(url)) {
            bootbox.alert("Please input a valid url!", function () {
                setTimeout(function () {
                    $("#URL").focus();
                }, 1);
            });
            return false;
        }
        return true;
    }

    $("#lnkAddPublication").click(function () {
        bootbox.dialog({
            message: publicationDialog,
            title: "Add publication",
            buttons: {
                success: {
                    label: "Save Changes",
                    className: "btn-primary",
                    callback: function (e) {
                        //Validate
                        if (!validatePublication()) {
                            return false;
                        }

                        //Save changes
                        $.blockUI({ message: $('#spinner') });
                        var formData = new FormData();
                        formData.append("RegistrationNumber", $("#RegistrationNumber").val());
                        formData.append("MotivationIssue", $("#MotivationIssue").val());
                        formData.append("MotivationResolving", $("#MotivationResolving").val());
                        formData.append("MotivationReason", $("#MotivationReason").val());
                        formData.append("PlanMaking", $("#PlanMaking").val());
                        formData.append("YouthScholarshipID", $("#YouthScholarshipID").val());
                        //Publication
                        formData.append("Title", $("#Title").val());
                        formData.append("Source", $("#Source").val());
                        formData.append("Year", $("#Year").val());
                        formData.append("URL", $("#URL").val());
                        
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("SavePublication", "Registration")',
                            data: formData,
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            success: function (response) {
                                //Timeout
                                if (response.ErrorCode == 2) {
                                    window.location = '@Url.Action("Login", "User")';
                                }
                                if (response.ErrorCode == 0) {
                                    $.unblockUI();
                                    $("#YouthScholarshipID").val(response.YouthScholarshipID);
                                    $('#PublicationTitles').addTag(response.Title);
                                    bootbox.hideAll();
                                    return true;
                                }
                                if (response.ErrorCode == 1) {
                                    bootbox.alert(response.Message, function () {
                                        $.unblockUI();
                                    });
                                }
                            },
                            error: function (error) {
                                $.unblockUI();
                                bootbox.alert(error, function () {
                                });
                            }
                        });
                        return false;
                    }
                },
                danger: {
                    label: "Cancel",
                    className: "btn-danger",
                    callback: function () {
                        bootbox.hideAll();
                    }
                }
            }
        });
    });
</script>