@using apcrshr_site.Helper
@model Site.Core.DataModel.Model.ArticleModel
@{
    ViewBag.Title = "Viết Bài";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<!-- Custom file upload -->
<script src="~/Areas/Administrator/js/plugins/fileupload/bootstrap-fileupload.min.js"></script>
<script src="~/Areas/Administrator/js/plugins/mockjax/jquery.mockjax.js"></script>
<div class="row">
    <div class="col-sm-12">

        <!--Alert-->
        @if (ViewBag.ErrorMessage != null)
        {
            <br />
            <div class="alert alert-danger"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @ViewBag.ErrorMessage</div>
        }

        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3>
                    <i class="fa fa-edit"></i>Viết bài
                </h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("SaveArticle", "Article", FormMethod.Post, new { @class = "form-horizontal form-bordered", @id = "frmSaveArticle", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tiêu Đề <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.Title, new { @id = "Title", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tóm Tắt Nội Dung</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(Model => Model.ShortContent, new { @id = "ShortContent", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.ShortContent)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Mô Tả <span class="validation-span-required">(*)</span></label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(Model => Model.Contents, new { @id = "Contents", @class = "form-control" })
                            @Html.ValidationMessageFor(Model => Model.Contents)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Ngôn Ngữ</label>
                        <div class="col-sm-10">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="radio" name="Language" id="Language-EN" class='icheck-me' data-skin="square" data-color="blue" value="EN" checked>
                                    <label class='inline' for="Language">English</label>
                                </div>
                                <div class="check-line">
                                    <input type="radio" name="Language" id="Language-VN" class='icheck-me' data-skin="square" data-color="blue" value="VN">
                                    <label class='inline' for="Language">Tiếng Việt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions col-sm-offset-2 col-sm-10">
                        <button type="button" id="btnSaveNews" onclick="submitForm()" class="btn btn-primary">Lưu Thông Tin</button>
                        <button type="button" onclick="resertForm()" class="btn">Khởi tạo lại</button>
                        <a href='@Url.Action("Index")' class="btn btn-info">Hủy Bỏ</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Contents").Editor({ name: "Editor-Contents" });
    });

    function submitForm() {
        //$("#Contents").val($("#Editor-Contents").html());
        //$("form#frmSaveNews").submit();

        if (!validateForm()) {
            bootbox.alert("Cần phải nhập dữ liệu những trường bắt buộc.", function () {
                bootbox.hideAll();
            });
            return false;
        }

        $.blockUI({ message: $('#spinner') });
        var formData = new FormData();
        formData.append("Title", $("#Title").val());
        formData.append("ShortContent", $("#ShortContent").val());
        formData.append("Contents", $("#Editor-Contents").html());
        formData.append("Language", $("input[name=Language]:checked").val());
        formData.append("menuTitle", appUtil.utility.getURLParameter("menuTitle"));
        formData.append(@Html.AntiForgeryTokenForAjaxPost());
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveArticle", "Article")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $.unblockUI();
                bootbox.alert(response.message, function () {
                    bootbox.hideAll();
                });
                //Timeout
                if (response.errorCode == 2) {
                    window.location = "/Administrator/AdminHome/Login";
                }
                if (response.errorCode == 0) {
                    resertForm();
                }
            },
            error: function (error) {
                $.unblockUI();
                bootbox.alert(error, function () {
                    bootbox.hideAll();
                });
            }
        });
    }

    function validateForm() {
        if ($("#Title").val() == null || $("#Title").val() == "") {
            $("#Title").focus();
            return false;
        }
        if ($("#Editor-Contents").html() == null || $("#Editor-Contents").html() == "") {
            $("#Editor-Contents").focus();
            return false;
        }
        return true;
    }

    function resertForm() {
        $("#Title").val("");
        $("#ShortContent").val("");
        $("#Editor-Contents").html("");
    }

    function setControlCss(control) {
        $(control).css({ "background-color": "#ffafb3" });
    }
</script>
