@model IList<Site.Core.DataModel.Model.ArticleModel>
@{
    ViewBag.Title = "Danh Sách Bài Viết";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <br />
            <a href='@Url.Action("CreateArticle", "Article")' class="btn btn-blue">Thêm Mới</a>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Bài Viết
                </h3>
            </div>
            <div class="box-content nopadding">
                <table id="tableArticle" class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="null,select,text,text,daterange,text,text,null,null,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th class='with-checkbox'>
                                <input type="checkbox" name="check_all" class="dataTable-checkall">
                            </th>
                            <th>Thể Loại</th>
                            <th>Tiêu Đề</th>
                            <th>Tóm Tắt</th>
                            <th class='hidden-1024'>Ngày Tạo</th>
                            <th>Người Tạo</th>
                            <th>URL</th>
                            <th>Tiếng Việt</th>
                            <th>Tiếng Anh</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr id="@Model[i].ArticleID">
                                    <td class="with-checkbox">
                                        <input type="checkbox" name="check" value="@Model[i].ArticleID">
                                    </td>
                                    <td>
                                        @apcrshr_site.Helper.DataHelper.GetInstance().GetMenuTitle(@Model[i].MenuID)
                                    </td>
                                    <td>
                                        @Model[i].Title
                                    </td>
                                    <td>@(Model[i].ShortContent != null && Model[i].ShortContent.Length > 50 ? Model[i].ShortContent.Substring(0, 50) : Model[i].ShortContent)</td>
                                    <td class='hidden-1024'>@Model[i].CreatedDate.ToShortDateString()</td>
                                    <td>@apcrshr_site.Helper.UserHelper.GetAdminName(Model[i].CreatedBy)</td>
                                    <td>@apcrshr_site.Helper.DataHelper.GetInstance().GetArticleURLByAction(Request, Model[i].ActionURL)</td>
                                    <td>
                                        @if (Model[i].Language.Equals("VN"))
                                        {
                                            <a href="#" class="btn" rel="tooltip" title="Đã Thêm">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn" rel="tooltip" title="Chưa Thêm">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        }
                                    </td>
                                    <td>
                                        @if (Model[i].Language.Equals("EN"))
                                        {
                                            <a href="#" class="btn" rel="tooltip" title="Đã Thêm">
                                                <i class="fa fa-check"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="#" class="btn" rel="tooltip" title="Chưa Thêm">
                                                <i class="fa fa-question-circle"></i>
                                            </a>
                                        }
                                    </td>
                                    <td class='hidden-480'>
                                        <a href='@Url.Action("UpdateArticle", "Article", new { articleID = Model[i].ArticleID })' class="btn" rel="tooltip" title="Sửa">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn" rel="tooltip" title="Xóa" onclick="return deleteArticle('@Model[i].ArticleID')" id="btn_@Model[i].ArticleID">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteArticle(articleID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteArticle", "Article")',
                    data: { articleID: articleID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            var $el = $("#btn_" + articleID);
                            var $parent = $el.parents("tr");
                            $parent.fadeOut(400, function () {
                                $parent.remove();
                            });
                            bootbox.hideAll();
                        } else {
                            bootbox.lert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>