@using apcrshr_site.Helper
@model Site.Core.DataModel.Model.ArticleModel
@{
    ViewBag.Title = "Cập Nhập Bài Viết";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-bordered box-color">
            <div class="box-title">
                <h3>
                    <i class="fa fa-edit"></i>Cập Nhập Bài Viết
                </h3>
            </div>
            <div class="box-content nopadding">
                @using (Html.BeginForm("SaveUpdateArticle", "Article", FormMethod.Post, new { @class = "form-horizontal form-bordered", id = "frmSaveArticle", enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(model => model.ArticleID, new { @id = "ArticleID" })
                    @Html.HiddenFor(model => model.MenuID, new { @id = "MenuID" })
                    @Html.HiddenFor(model => model.HomeDisplay, new { @id = "HomeDisplay" })
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tiêu Đề</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Title)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Tóm Tắt Nội Dung</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.ShortContent, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ShortContent)
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Mô Tả</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(model => model.Contents, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Contents)
                        </div>
                    </div>
                    <div class="form-group div-hidden" id="divShowHomeArticle">
                        <label for="textfield" class="control-label col-sm-2">Trang Chủ</label>
                        <div class="col-sm-10">
                            <input type="checkbox" name="HomeDisplay" class='icheck-me' data-skin="square" data-color="blue" id="HomeDisplay" value="true" @(Model.HomeDisplay == true ? "checked" : "")>
                            <label for="HomeDisplay">Hiển Thị Trên Trang Chủ</label>
                        </div>
                    </div>
                    <div class="form-group div-hidden" id="divHomeDisplay">
                        <label for="file" class="control-label col-sm-2">
                            Ảnh
                            <small>Kích Cỡ Lớn Nhất: 10MB</small>
                        </label>
                        <div class="col-sm-10">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Chọn Ảnh</span>
                                        <span class="fileinput-exists">Thay Đổi</span>
                                        <input type="file" name="imageFile" id="imageFile" data-filesize="1048576" data-filesize-error="Kích Cỡ Lớn Nhất: 10MB">
                                    </span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Xóa Bỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="textfield" class="control-label col-sm-2">Ngôn Ngữ</label>
                        <div class="col-sm-10">
                            <div class="check-demo-col">
                                <div class="check-line">
                                    <input type="radio" name="Language" id="Language" class='icheck-me' data-skin="square" data-color="blue" value="EN" @(Model.Language.Equals("EN") ? "checked" : "")>
                                    <label class='inline' for="Language">English</label>
                                </div>
                                <div class="check-line">
                                    <input type="radio" name="Language" id="Language" class='icheck-me' data-skin="square" data-color="blue" value="VN" @(Model.Language.Equals("VN") ? "checked" : "")>
                                    <label class='inline' for="Language">Tiếng Việt</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions col-sm-offset-2 col-sm-10">
                        <button type="button" onclick="submitForm()" class="btn btn-primary">Lưu Thông Tin</button>
                        <button type="button" class="btn" onclick="resertForm()">Khởi tạo lại</button>
                        <a href='@Url.Action("Index")' class="btn btn-info">Hủy Bỏ</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('input').on('ifChecked', function (event) {
        var isChecked = $(this).is(":checked");
        if (isChecked) {
            if ($("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").removeClass("div-hidden");
            }
        } else {
            if (!$("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").addClass("div-hidden");
            }
        }
    });

    $('input').on('ifUnchecked', function (event) {
        var isChecked = $(this).is(":checked");
        if (isChecked) {
            if ($("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").removeClass("div-hidden");
            }
        } else {
            if (!$("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").addClass("div-hidden");
            }
        }
    });
    $('input[type=checkbox]').each(function () {
        //Check ID & checked state
        var isChecked = $(this).is(":checked");
        if (isChecked) {
            if ($("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").removeClass("div-hidden");
            }
        } else {
            if (!$("#divHomeDisplay").hasClass("div-hidden")) {
                $("#divHomeDisplay").addClass("div-hidden");
            }
        }
    });
</script>
<script>
    $(document).ready(function () {
        $("#Contents").Editor({ name: "Editor-Contents" });
        $("#Editor-Contents").html($("#Contents").val());
        var isChecked = $("#HomeDisplay").val();
        if (isChecked == "True") {
            if ($("#divShowHomeArticle").hasClass("div-hidden")) {
                $("#divShowHomeArticle").removeClass("div-hidden");
            }
        } else {
            if (!$("#divShowHomeArticle").hasClass("div-hidden")) {
                $("#divShowHomeArticle").addClass("div-hidden");
            }
        }
    });

    function submitForm() {
        if (!validateForm()) {
            bootbox.alert("Cần phải nhập dữ liệu những trường bắt buộc.", function () {
                bootbox.hideAll();
            });
            return false;
        }

        $.blockUI({ message: $('#spinner') });
        var formData = new FormData();
        formData.append("ArticleID", $("#ArticleID").val());
        formData.append("MenuID", $("#MenuID").val());
        formData.append("HomeDisplay", $("#HomeDisplay").val());
        formData.append("Title", $("#Title").val());
        formData.append("ShortContent", $("#ShortContent").val());
        formData.append("Contents", $("#Editor-Contents").html());
        formData.append("Language", $("input[name=Language]:checked").val());
        formData.append(@Html.AntiForgeryTokenForAjaxPost());
        $.ajax({
            type: "POST",
            url: '@Url.Action("SaveUpdateArticle", "Article")',
            data: formData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $.unblockUI();
                bootbox.alert(response.message, function () {
                    bootbox.hideAll();
                });
                //Timeout
                if (response.errorCode == 2) {
                    window.location = "/Administrator/AdminHome/Login";
                }
            },
            error: function (error) {
                $.unblockUI();
                bootbox.alert(error, function () {
                    bootbox.hideAll();
                });
            }
        });
    }

    function validateForm() {
        if ($("#Title").val() == null || $("#Title").val() == "") {
            $("#Title").focus();
            return false;
        }
        if ($("#ShortContent").val() == null || $("#ShortContent").val() == "") {
            $("#ShortContent").focus();
            return false;
        }
        if ($("#Editor-Contents").html() == null || $("#Editor-Contents").html() == "") {
            $("#Editor-Contents").focus();
            return false;
        }
        return true;
    }

    function resertForm() {
        $("#Title").val("");
        $("#ShortContent").val("");
        $("#Editor-Contents").html("");
    }

    function setControlCss(control) {
        $(control).css({ "background-color": "#ffafb3" });
    }
</script>