<ul class="main-menu" style="padding: 0px;">
    <li class="drop">
        <a class='@(ViewBag.CurrentNode == "Home" ? "active" : "")' href="/"><i class="fa fa-home"></i>Home</a>
    </li>
    @{
        IList<Site.Core.DataModel.Model.MenuModel> categories = ((apcrshr_site.Controllers.BaseController)this.ViewContext.Controller).GetCategoryMenu();
        if (categories != null)
        {
            foreach (var item in categories)
            {
                if (item.SubMenus == null || item.SubMenus.Count == 0)
                {
                    <li><a class='@(ViewBag.CurrentNode == item.ActionURL ? "active" : "")' href='@(item.Type == true ? item.URL : Url.Action("ArticleView", "Home", new { ActionURL = item.ActionURL }))'><i class="fa fa-user"></i>@item.Title</a></li>
                }
                else
                {
                    <li class="drop">
                        <a class='@(ViewBag.CurrentNode == item.ActionURL ? "active" : "")' href='@(item.Type == true ? item.URL : Url.Action("ArticleView", "Home", new { ActionURL = item.ActionURL }))'><i class="fa fa-cog"></i>@item.Title <i class="icon-right-small"></i></a>
                        <ul class="drop-down">
                            @{
                                IList<Site.Core.DataModel.Model.MenuModel> subs = item.SubMenus.OrderBy(m => m.CreatedDate).ToList();
                                foreach (var s in subs)
                                {
                                    <li><a href='@(s.Type == true ? s.URL : Url.Action("ArticleView", "Home", new { ActionURL = s.ActionURL }))'>@s.Title</a></li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        }
    }
</ul>
