@using apcrshr_site.Helper
@model Site.Core.DataModel.Response.FindAllItemReponse<Site.Core.DataModel.Model.PhotoModel>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="col-md-9 page-content">
    <!-- Classic Heading -->
    <h2 class="classic-title"><span>@ViewBag.Title</span></h2>

    <div class="row portfolio-page">

        <!-- Start Portfolio Items -->
        <div id="portfolio" class="portfolio-4">

            @foreach (var item in Model.Items)
            {
                <!-- Start Portfolio Item -->
                <div class="portfolio-item logo animation col-md-3">
                    <div class="portfolio-border">
                        <!-- Start Portfolio Item Thumb -->
                        <div class="portfolio-thumb">
                            <a class="lightbox" title="@item.Title" href="@item.ImageURL">
                                <div class="thumb-overlay"><i class="icon-resize-full"></i></div>
                                <img alt="@item.Title" src="@item.ImageURL" />
                            </a>
                        </div>
                        <!-- End Portfolio Item Thumb -->
                        <!-- Start Portfolio Item Details -->
                        <div class="portfolio-details">
                            <a href="#">
                                <span>Lorem Ipsum Dolor</span>
                            </a>
                        </div>
                        <!-- End Portfolio Item Details -->
                    </div>
                </div>
                <!-- End Portfolio Item -->
            }

        </div>
        <!-- End Portfolio Items -->

    </div>

    <!-- Start Pagination -->
    <div id="pagination">
        @Html.PagingUtil("Index", "Photo",
                      Model.Count, apcrshr_site.Constants.Constants.PHOTO_PAGE_SIZE,
            (Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("pageIndex")).SingleOrDefault().Value == null ?
            Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("ActionURL")).SingleOrDefault() :
            Url.RequestContext.RouteData.Values.Where(v => v.Key.Equals("pageIndex")).SingleOrDefault()))
    </div>
    <!-- End Pagination -->

</div>




