@model IList<Site.Core.DataModel.Model.ImportantDeadlineModel>
@{
    ViewBag.Title = "Quản Trị Viên";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <!--Alert-->
        @if (TempData["Message"] != null)
        {
            Site.Core.DataModel.Response.BaseResponse responseMsg = (Site.Core.DataModel.Response.BaseResponse)TempData["Message"];
            <br />
            <div class="alert @(responseMsg.ErrorCode == (int)Site.Core.DataModel.Enum.ErrorCode.None ? " alert-info" : " alert-danger")"><a class="close" data-dismiss="alert" href="#">×</a><strong></strong> @responseMsg.Message</div>
        }

        <div class="box box-color box-bordered">
            <br />
            <a href='@Url.Action("CreateImportantDeadline", "AdminImportantDeadline")' class="btn btn-blue">Thêm Mới</a>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Người Dùng
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="null,text,text,text,daterange,daterange,daterange,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th class='with-checkbox'>
                                <input type="checkbox" name="check_all" class="dataTable-checkall">
                            </th>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung Ngắn</th>
                            <th>Người Tạo</th>
                            <th>Ngày Bắt Đầu</th>
                            <th>Ngày Kết Thúc</th>
                            <th>Hạn Cuối Cùng</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr id="@Model[i].DeadlineID">
                                <td class="with-checkbox">
                                    <input type="checkbox" name="check" value="@Model[i].DeadlineID">
                                </td>
                                <td>@Model[i].Title</td>
                                @if (!string.IsNullOrEmpty(Model[i].ShortContent))
                                {
                                    <td>@(Model[i].ShortContent.Length > 50 ? Model[i].ShortContent.Substring(0, 50) : Model[i].ShortContent)</td>
                                }
                                else
                                {
                                    <td>@Model[i].ShortContent</td>
                                }
                                <td>@apcrshr_site.Helper.UserHelper.GetAdminName(Model[i].CreatedBy)</td>
                                <td>@Model[i].StartDate.ToShortDateString()</td>
                                <td>@Model[i].EndDate.ToShortDateString()</td>
                                <td>@Model[i].Deadline</td>
                                <td class='hidden-480'>
                                    <a href='@Url.Action("UpdateImportantDeadline", "AdminImportantDeadline", new { deadlineID = Model[i].DeadlineID })' class="btn" rel="tooltip" title="Sửa">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" class="btn" rel="tooltip" title="Xóa" onclick="return deleteImportantDeadline('@Model[i].DeadlineID')">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteImportantDeadline(deadlineID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteImportantDealine", "AdminImportantDeadline")',
                    data: { deadlineID: deadlineID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            $('#' + deadlineID + '').remove();
                            bootbox.hideAll();
                        } else {
                            bootbox.lert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>