@model IList<Site.Core.DataModel.Model.ConferenceDeclarationModel>
@{
    ViewBag.Title = "Công Bố Buổi Họp";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box box-color box-bordered">
            <br />
            <a href='@Url.Action("CreateConference", "AdminConferenceDeclare")' class="btn btn-blue">Thêm Mới</a>
            <div class="box-title">
                <h3>
                    <i class="fa fa-th-list"></i>Danh Sách Hội Nghị
                </h3>
            </div>
            <div class="box-content nopadding">
                <table id="tableConference" class="table table-hover table-nomargin table-bordered dataTable dataTable-column_filter"
                       data-column_filter_types="null,text,text,text,text,daterange,text,null"
                       data-column_filter_dateformat="dd-mm-yy" data-nosort="0" data-checkall="all">
                    <thead>
                        <tr>
                            <th class='with-checkbox'>
                                <input type="checkbox" name="check_all" class="dataTable-checkall">
                            </th>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung</th>
                            <th>Tệp Đính Kèm</th>
                            <th>Ảnh</th>
                            <th class='hidden-1024'>Ngày Tạo</th>
                            <th>Người Tạo</th>
                            <th class='hidden-480'>Tùy Chọn</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            for (int i = 0; i < Model.Count; i++)
                            {
                                <tr id="@Model[i].ConferenceID">
                                    <td class="with-checkbox">
                                        <input type="checkbox" name="check" value="@Model[i].ConferenceID">
                                    </td>
                                    <td>
                                        @Model[i].Title
                                    </td>
                                    @if (!string.IsNullOrEmpty(Model[i].ShortContent))
                                    {
                                        <td>@(Model[i].ShortContent.Length > 50 ? Model[i].ShortContent.Substring(0, 50) : Model[i].ShortContent)</td>
                                    }
                                    else
                                    {
                                        <td>@Model[i].ShortContent</td>
                                    }
                                    
                                    <td>
                                        @(Model[i].AttachmentURL != null ? Model[i].AttachmentURL.Substring(Model[i].AttachmentURL.LastIndexOf("/") + 1) : "")
                                    </td>
                                    <td>
                                        <img class="thumbnail" src="@Model[i].ImageURL" style="width: 200px; height: 150px;">
                                    </td>
                                    <td class='hidden-1024'>@Model[i].CreatedDate.ToShortDateString()</td>
                                    <td>@apcrshr_site.Helper.UserHelper.GetAdminName(Model[i].CreatedBy)</td>
                                    <td class='hidden-480'>
                                        <a href='@Url.Action("UpdateConference", "AdminConferenceDeclare", new { conferenceID = Model[i].ConferenceID })' class="btn" rel="tooltip" title="Sửa">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" class="btn" rel="tooltip" title="Xóa" onclick="return deleteConference('@Model[i].ConferenceID')">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deleteConference(conferenceID) {
        bootbox.confirm("Bạn có chắc chắn muốn xóa bản ghi này?", function (result) {
            if (result) {
                $.ajax({
                    type: 'GET',
                    contentType: 'application/json',
                    url: '@Url.Action("DeleteConference", "AdminConferenceDeclare")',
                    data: { conferenceID: conferenceID },
                    success: function (data) {
                        if (data.ErrorCode == 0) {
                            $('#' + conferenceID + '').remove();
                            $('table#tableConference tr#' + conferenceID + '').remove();
                            bootbox.hideAll();
                        } else {
                            bootbox.lert(data.Message, function () {
                                bootbox.hideAll();
                            });
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        bootbox.hideAll();
                    }
                });
                return true;
            } else {
                bootbox.hideAll();
                return false;
            }
        });
    }

</script>