<div id="navigation">
    <div class="container-fluid">
        <a href="@Url.Action("Index", "Admin")" id="brand">Admin</a>
        <a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom" title="Toggle navigation">
            <i class="fa fa-bars"></i>
        </a>
        <ul class='main-nav'>
            <li class='@(ViewBag.CurrentNode == "Home" ? "active" : "")'>
                <a href='@Url.Action("Index", "Admin")'>
                    <span>Trang Chủ</span>
                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "Article" ? "active" : "")'>
                <a href='@Url.Action("Index", "Article")'>
                    <span>Bài Viết</span>
                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminNews" ? "active" : "")'>
                <a href='@Url.Action("Index", "AdminNews")'>
                    <span>Tin Tức</span>
                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminMember" ? "active" : "")'>
                <a href="@Url.Action("Index","AdminUser")">
                    <span>Thành Viên</span>

                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminImportantDeadline" ? "active" : "")'>
                <a href="@Url.Action("Index","AdminImportantDeadline")">
                    <span>Kỳ Hạn</span>

                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminConferenceDelaration" ? "active" : "")'>
                <a href="@Url.Action("Index", "AdminConferenceDeclare")">
                    <span>Hội Nghị</span>

                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminVideo" ? "active" : "")'>
                <a href="@Url.Action("Index", "AdminVideo")">
                    <span>Video</span>
                </a>
            </li>
            <li class='@(ViewBag.CurrentNode == "AdminPresentation" ? "active" : "")'>
                <a href="@Url.Action("Index", "AdminPresentation")">
                    <span>Thuyết Trình</span>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Index", "AdminPhoto")' data-toggle="dropdown" class='dropdown-toggle'>
                    <span>Ảnh</span>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href='@Url.Action("Index", "AdminPhoto")'>Danh Sách Ảnh</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Index", "AdminAlbum")'>Danh Sách Album</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="user">
            <div class="dropdown">
                <a href="#" class='dropdown-toggle' data-toggle="dropdown">
                    @Session["UserName"]
                    <img src="~/Areas/Administrator/img/demo/user157.png" alt="">
                </a>
                <ul class="dropdown-menu pull-right">
                    <li>
                        <a href='@Url.Action("UpdateProfile", "Admin", new { adminID = Session["UserID"] })'>Cập Nhập</a>
                    </li>
                    <li>
                        <a href='@Url.Action("Logout", "Admin")'>Đăng Xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
